@model DIBN.Areas.Admin.Models.GetAccountHistoryForProfitLossWeeklyReportGraphModel
@{
    ViewData["Title"] = "Profit & Loss Weekly Report Graph";
}

<style>
    .canvasHeight {
        height: 680px !important;
    }
</style>
<div id="loader">
    <div class="spinner-1">
        <div class="center-div-1">
            <div class="loader-circle-75">
            </div>
        </div>
    </div>
</div>

<div class="row"> 
    <div class="col-lg-12">
        <a href="@Url.Action("MainProfitLossReport","ReportManagement")" class="btn btn-theme float-end me-2 mb-2">Back</a>
        <a role="button" class="btn btn-theme float-end me-2 mb-3" onclick="LineChartFn();" id="lineChartBtn">Line Chart</a>
        <a role="button" class="btn btn-theme float-end me-2 mb-3" onclick="PieChartFn();" id="pieChartBtn">Pie Chart</a>
        <a role="button" class="btn btn-theme float-end me-2 mb-3" onclick="HLineChartFn();" id="horizontalBarChartBtn">Horizontal Bar Chart</a>
        <a role="button" class="btn btn-theme float-end me-2 mb-3" onclick="BarChartFn();" id="barChartBtn">Bar Chart</a>
    </div>
</div>

<div class="row" id="View">
    <div class="col-md-12 col-xl-12 col-sm-12 col" id="BarChart">
        <div class="card">
            <div class="card-body">
                <h3 class="mb-4 text-center front-text-theme"><strong>Profit & Loss Custom Report's Graph Representation from @Model.FromDate till @Model.ToDate</strong></h3>
                <input name="FromDate" id="FromDate" value="@Model.FromDates" type="hidden" />
                <input name="ToDate" id="ToDate" value="@Model.ToDates" type="hidden" />
                <div class="chart-container" id="BarFinanceChartInfo">
                    <canvas class="mb-3 canvasHeight" id="BarFinanceChart">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xl-12 col-sm-12 col" id="PieChart" hidden="hidden">
        <div class="card">
            <div class="card-body">
                <h3 class="mb-4 text-center front-text-theme"><strong>Profit & Loss Custom Report's Graph Representation from @Model.FromDate till @Model.ToDate</strong></h3>
                <input name="FromDate" id="FromDate" value="@Model.FromDates" type="hidden" />
                <input name="ToDate" id="ToDate" value="@Model.ToDates" type="hidden" />
                <div class="col-md-12">
                    <div class="col-md-9 col-sm-12 float-start">
                        <div class="chart-container" id="PieFinanceChartInfo">
                            <canvas class="mb-3" id="PieFinanceChart">
                            </canvas>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 float-start">
                        <table class="table table-bordered table-striped" style="border:1px solid #000;">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-center fw-bolder fs-5 bg-blue text-white">
                                        Total(s)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="fw-bolder fs-6">Total Debit (AED)</td>
                                    <td class="fw-bolder fs-6 text-danger">@Html.Raw("-")@Model.TotalDebit AED</td>
                                </tr>
                                <tr>
                                    <td class="fw-bolder fs-6">Total Credit (AED)</td>
                                    <td class="fw-bolder fs-6" style="color:#008000 !important;">@Model.TotalCredit AED</td>
                                </tr>
                                <tr>
                                    <td class="fw-bolder fs-6">
                                        @if (Model.totalProfitLoss < 0)
                                        {
                                            <span>Loss</span>
                                        }
                                        else
                                        {
                                            <span>Profit</span>
                                        }
                                    </td>
                                    <td class="fw-bolder fs-6">
                                        @if (Model.totalProfitLoss < 0)
                                        {
                                            <span class="text-danger">@Model.totalProfitLoss.ToString("0.00") AED (@Model.profitLossPercentage.ToString("0.00")%) </span>
                                        }
                                        else
                                        {
                                            <span style="color:#008000 !important;">@Model.totalProfitLoss.ToString("0.00") AED (@Model.profitLossPercentage.ToString("0.00")%)</span>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xl-12 col-sm-12 col" id="LineChart" hidden="hidden">
        <div class="card">
            <div class="card-body">
                <h3 class="mb-4 text-center front-text-theme"><strong>Profit & Loss Custom Report's Graph Representation from @Model.FromDate till @Model.ToDate</strong></h3>
                <input name="FromDate" id="FromDate" value="@Model.FromDates" type="hidden" />
                <input name="ToDate" id="ToDate" value="@Model.ToDates" type="hidden" />
                <div class="chart-container" id="LineFinanceChartInfo">
                    <canvas class="mb-3 canvasHeight" id="LineFinanceChart">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xl-12 col-sm-12 col" id="HLineChart" hidden="hidden">
        <div class="card">
            <div class="card-body">
                <h3 class="mb-4 text-center front-text-theme"><strong>Profit & Loss Custom Report's Graph Representation from @Model.FromDate till @Model.ToDate</strong></h3>
                <input name="FromDate" id="FromDate" value="@Model.FromDates" type="hidden" />
                <input name="ToDate" id="ToDate" value="@Model.ToDates" type="hidden" />
                <div class="chart-container" id="HLineFinanceChartInfo">
                    <canvas class="mb-3 canvasHeight" id="HLineFinanceChart">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/charts/Chart.min.js"></script>
<script src="~/charts/Chart.bundle.min.js"></script>
<script src="~/charts/chart-2.8.0.js"></script>
<script src="~/charts/hammerjs-2.8.0.js"></script>
<script src="~/charts/chartjs-plugin-zoom-0.7.3.js"></script>
<script>
    $(function () {
        $("#loader").show();
        if ($(window).width() < 640) {
            LoadProfitLossPieChart();
            $("#LineChart").attr("hidden", "hidden");
            $("#BarChart").attr("hidden", "hidden");
            $("#HLineChart").attr("hidden", "hidden");
            $("#lineChartBtn").attr("hidden", "hidden");
            $("#horizontalBarChartBtn").attr("hidden", "hidden");
            $("#barChartBtn").attr("hidden", "hidden");
            $("#PieChart").removeAttr("hidden");
        }
        else {
            LoadProfitLossBarChart();
        }
    });

    function LoadProfitLossBarChart() {
        $("#loader").show();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("ProfitLossWeeklyReportBarGraphData","ReportManagement")",
            data: { "fromDate": FromDate, "toDate": ToDate },
            success: function (response) {
                var ctx = document.getElementById("BarFinanceChart").getContext("2d");
                var _values = eval(response);
                var _dataValues = new Array();
                var _background = new Array();

                var _dataValues1 = new Array();
                var _background1 = new Array();

                var _lables = new Array();
                var _lables1 = new Array();
                for (var i = 0; i < _values[0].length; i++) {
                    _dataValues.push(_values[0][i].value);
                    _background.push(_values[0][i].color);
                    _lables.push(_values[0][i].text);
                }

                for (var i = 0; i < _values[1].length; i++) {
                    _dataValues1.push(_values[1][i].value);
                    _background1.push(_values[1][i].color);
                    _lables1.push(_values[1][i].text);
                }

                var data = {
                    labels: _lables,
                    datasets: [{
                        label: 'Credit (In AED)',
                        data: _dataValues,
                        backgroundColor: _background
                    },
                    {
                        label: 'Debit (In AED)',
                        data: _dataValues1,
                        backgroundColor: _background1
                    }]
                };

                var options = {
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Date'
                            },
                            ticks: {
                                major: {
                                    fontStyle: 'bold',
                                    fontColor: '#FF0000'
                                }
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Amount'
                            }
                        }]
                    },
                    animation: {
                        easing: 'easeInOutQuart',
                        duration: 1000,
                    },
                    responsive: true,
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'xy',
                            },
                            zoom: {
                                enabled: true,
                                mode: "xy",
                                speed: 0.001,
                                limits: {
                                    max: 10,
                                    min: 0.5
                                }
                            }
                        }
                    },
                };

                var myPieChart = new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: options
                });
            },
            failure: function (response) {
                alert('There was an error.');
                $("#loader").hide();
            }
        });
    };

    function LoadProfitLossPieChart() {
        $("#loader").show();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("ProfitLossWeeklyReportPieGraphData","ReportManagement")",
            data: { "fromDate": FromDate, "toDate": ToDate },
            success: function (response) {
                var ctx = document.getElementById("PieFinanceChart").getContext("2d");
                var _values = eval(response);
                var _dataValues = new Array();
                var _background = new Array();
                var _lables = new Array();

                for (var i = 0; i < _values.length; i++) {
                    _dataValues.push(_values[i].value);
                    _background.push(_values[i].color);
                    _lables.push(_values[i].text);
                }
                var data = {
                    labels: _lables,
                    datasets: [{
                        data: _dataValues,
                        backgroundColor: _background
                    }]
                };

                var options = {
                    animation: {
                        easing: 'easeInOutQuart',
                        duration: 1000
                    }
                };
                var myPieChart = new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: options
                });

                $("#loader").hide();
            },
            failure: function (response) {
                alert('There was an error.');
                $("#loader").hide();
            }
        });
    };

    function LoadProfitLossLineChart() {
        $("#loader").show();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("ProfitLossWeeklyReportBarGraphData","ReportManagement")",
            data: { "fromDate": FromDate, "toDate": ToDate },
            success: function (response) {
                var ctx = document.getElementById("LineFinanceChart").getContext("2d");

                var _values = eval(response);
                var _dataValues = new Array();
                var _background = new Array();

                var _dataValues1 = new Array();
                var _background1 = new Array();

                var _lables = new Array();
                var _lables1 = new Array();
                for (var i = 0; i < _values[0].length; i++) {
                    _dataValues.push(_values[0][i].value);
                    _background.push(_values[0][i].color);
                    _lables.push(_values[0][i].text);
                }

                for (var i = 0; i < _values[1].length; i++) {
                    _dataValues1.push(_values[1][i].value);
                    _background1.push(_values[1][i].color);
                    _lables1.push(_values[1][i].text);
                }

                var data = {
                    labels: _lables,
                    datasets: [{
                        label: 'Credit (In AED)',
                        data: _dataValues,
                        backgroundColor: "#00D100",
                        fill: false,
                        borderColor: "#00D100",
                        borderWidth: 3,
                        showLine: true,
                    },
                    {
                        label: 'Debit (In AED)',
                        data: _dataValues1,
                        backgroundColor: "#e34234",
                        fill: false,
                        borderColor: "#e34234",
                        borderWidth: 3,
                        showLine: true,
                    }]
                };

                var options = {
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Date'
                            },
                            ticks: {
                                major: {
                                    fontStyle: 'bold',
                                    fontColor: '#FF0000'
                                }
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Amount'
                            }
                        }]
                    },
                    animation: {
                        easing: 'easeInOutQuart',
                        duration: 1000,
                    },
                    responsive: true,
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'xy',
                            },
                            zoom: {
                                enabled: true,
                                mode: "xy",
                                speed: 0.001,
                                limits: {
                                    max: 10,
                                    min: 0.5
                                }
                            }
                        }
                    },
                };

                var myPieChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: options
                });

                $("#loader").hide();
            },
            failure: function (response) {
                alert('There was an error.');
                $("#loader").hide();
            }
        });
    };

    function LoadProfitLossHorizontalLineChart() {
        $("#loader").show();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();

        $.ajax({
            type: "GET",
            url: "@Url.Action("ProfitLossWeeklyReportBarGraphData","ReportManagement")",
            data: { "fromDate": FromDate, "toDate": ToDate },
            success: function (response) {
                var ctx = document.getElementById("HLineFinanceChart").getContext("2d");

                var _values = eval(response);
                var _dataValues = new Array();
                var _background = new Array();

                var _dataValues1 = new Array();
                var _background1 = new Array();

                var _lables = new Array();
                var _lables1 = new Array();
                for (var i = 0; i < _values[0].length; i++) {
                    _dataValues.push(_values[0][i].value);
                    _background.push(_values[0][i].color);
                    _lables.push(_values[0][i].text);
                }

                for (var i = 0; i < _values[1].length; i++) {
                    _dataValues1.push(_values[1][i].value);
                    _background1.push(_values[1][i].color);
                    _lables1.push(_values[1][i].text);
                }

                var data = {
                    labels: _lables,
                    datasets: [{
                        label: 'Credit (In AED)',
                        data: _dataValues,
                        backgroundColor: _background
                    },
                    {
                        label: 'Debit (In AED)',
                        data: _dataValues1,
                        backgroundColor: _background1
                    }]
                };

                var options = {
                    scales: {
                        xAxes: [{
                            display: true,
                            ticks: {
                                major: {
                                    fontStyle: 'bold',
                                    fontColor: '#FF0000'
                                }
                            }
                        }],
                        yAxes: [{
                            display: true,
                            ticks: {
                                major: {
                                    fontStyle: 'bold',
                                    fontColor: '#FF0000'
                                }
                            }
                        }]
                    },
                    animation: {
                        easing: 'easeInOutQuart',
                        duration: 1000,
                    },
                    responsive: true,
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'xy',
                            },
                            zoom: {
                                enabled: true,
                                mode: "xy",
                                speed: 0.001,
                                limits: {
                                    max: 10,
                                    min: 0.5
                                }
                            }
                        }
                    },
                };

                var myPieChart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: data,
                    options: options
                });

                $("#loader").hide();
            },
            failure: function (response) {
                alert('There was an error.');
                $("#loader").hide();
            }
        });
    };
</script>
<script>
    function BarChartFn() {
        $("#PieChart").attr("hidden", "hidden");
        $("#LineChart").attr("hidden", "hidden");
        $("#HLineChart").attr("hidden", "hidden");
        $("#BarChart").removeAttr("hidden");
        LoadProfitLossBarChart();
    };

    function PieChartFn() {
        $("#PieChart").removeAttr("hidden");
        $("#HLineChart").attr("hidden", "hidden");
        $("#LineChart").attr("hidden", "hidden");
        $("#BarChart").attr("hidden", "hidden");
        LoadProfitLossPieChart();
    };

    function LineChartFn() {
        $("#PieChart").attr("hidden", "hidden");
        $("#LineChart").removeAttr("hidden");
        $("#BarChart").attr("hidden", "hidden");
        $("#HLineChart").attr("hidden", "hidden");
        LoadProfitLossLineChart();
    };

    function HLineChartFn() {
        $("#HLineChart").removeAttr("hidden");
        $("#BarChart").attr("hidden", "hidden");
        $("#LineChart").attr("hidden", "hidden");
        $("#PieChart").attr("hidden", "hidden");
        LoadProfitLossHorizontalLineChart();
    }
</script>
<script>
    $(function () {
        $("#Insert").hide();
        $("#View").hide();
        $(".Update").hide();
        $(".Delete").hide();
        $(".Details").hide();
    });
</script>
<script>
    $(function () {
        $("#loader").show();
        var module = $("#Module").val();
        $.ajax({
            url: "@Url.Action("GetRolePermissionsName", "Permission")",
            method: "GET",
            data: { "Module": "ReportManagement" },
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (RoleResponse) {
                $("#loader").show();
                $.ajax({
                    url: "@Url.Action("GetUserPermissionsName", "Permission")",
                    method: "GET",
                    data: { "Module": "ReportManagement" },
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (UserResponse) {
                        $("#loader").show();
                        if (UserResponse.length > 0) {
                            for (let i = 0; i < UserResponse.length; i++) {
                                $("#" + UserResponse[i]).show();
                                if (UserResponse[i] == "View") {
                                    $(".Details").show();
                                }
                                if (UserResponse[i] == "Update") {
                                    $("." + UserResponse[i]).show();
                                }
                                if (UserResponse[i] == "Delete") {
                                    $("." + UserResponse[i]).show();
                                }
                            }
                            $("#loader").hide();
                        }
                        else if (RoleResponse.length > 0) {
                            for (let i = 0; i < RoleResponse.length; i++) {
                                $("#" + RoleResponse[i]).show();
                                if (RoleResponse[i] == "View") {
                                    $(".Details").show();
                                }
                                if (RoleResponse[i] == "Update") {
                                    $("." + RoleResponse[i]).show();
                                }
                                if (RoleResponse[i] == "Delete") {
                                    $("." + RoleResponse[i]).show();
                                }
                            }
                            $("#loader").hide();

                        } else {
                            alert("You don't have any permission for this module.");
                            $("#loader").hide();
                        }
                    }
                })
            }
        });
        $("#loader").hide();
    });
</script>