@model DIBN.Areas.Admin.Models.UserViewModel.SaveCompanyForUser
@{
    ViewData["Title"] = "Create";
}
<div id="loader">
    <div class="spinner-1">
        <div class="center-div-1">
            <div class="loader-circle-75">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <h4 class="card-title">Add New Company</h4>
    </div>
    <div class="col-md-2">
        <a href="javascript:history.go(-1);" class="btn btn-theme float-end" style="margin-bottom:15px;">Back to List</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="AddCompanyForUsers" asp-area="admin" method="post" id="addCompanyForUser">
                    <div class="row">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <input type="hidden" name="Action" value="@Model.Action" />
                        <div class="form-group col-md-5 float-start ms-2 me-3">
                            <label asp-for="CompanyType" class="control-label"></label>
                            @Html.DropDownListFor(w => w.CompanyTypeName, Model.CompanyType, new { @class = "form-control form-select single-line", required = (string)null })
                        </div>
                        <div class=" col-md-5 float-start ms-2 me-3">
                            <div class="form-group">
                                <label asp-for="AccountNumber" class="control-label"></label> 
                                <input asp-for="AccountNumber" id="AccountNumber" class="form-control" />
                                <span asp-validation-for="AccountNumber" class="text-danger"></span>
                            </div>
                            <div>
                                <span id="AccountNumberValidation" class="text-danger"></span>
                            </div>
                        </div>
                        <div class=" col-md-5 float-start ms-2 me-3">
                            <div class="form-group" id="companyNameBlock">
                                <label asp-for="CompanyName" class="control-label"></label> <span class="text-danger">*</span>
                                <input asp-for="CompanyName" class="form-control" id="CompanyName" onfocus="CheckExistanceOfAccountNumber();" />
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                            <div>
                                <span id="CompanyNameValidation" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-5 float-start ms-2 me-3">
                            <label asp-for="CompanyPassword" class="control-label"></label> <span class="text-danger">*</span>
                            <div class="input-group">
                                <input asp-for="CompanyPassword" id="Password" type="password" class="form-control" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text btn btn-theme" id="show_password"><i class="fas fa-eye-slash icon"></i></span>
                                </div>
                                <span asp-validation-for="CompanyPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class=" col-md-5 float-start ms-2 me-3">
                            <div class="form-group" id="MobileNumberBlock">
                                <label asp-for="MobileNumber" class="control-label"></label> <span class="text-danger">*</span>
                                <div class="d-flex">
                                    <div class="col-md-4 col-lg-4">
                                        @Html.DropDownListFor(w => w.MainContactNumberCountry, Model.Countries, new { @class = "form-control form-select single-line select-box", @onchange = "GetDialingCodeOfCountry(this.value,MobileNumber)", required = (string)null })
                                    </div>
                                    <div class="col-md-8 col-lg-8">
                                        <input asp-for="MobileNumber" class="form-control" id="MobileNumber"  onkeyup="ValidAlphabet(this)" maxlength="20"/>
                                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="NewContactNumbers">
                            </div>
                        </div>

                        <div class="form-group col-md-5 float-start ms-2 me-3 pt-4">
                            <input class="btn btn-theme mt-2 mb-2" onclick="AddNewContactNumber();" type="button" value="Add New Contact No.">
                        </div>

                        <div class=" col-md-5 float-start ms-2 me-3">
                            <div class="form-group" id="EmailidBlock">
                                <label asp-for="EmailID" class="control-label"></label>
                                <input asp-for="EmailID" type="email" class="form-control" id="EmailID" />
                                <span asp-validation-for="EmailID" class="text-danger"></span>
                            </div>
                            <div id="NewEmails">
                            </div>

                            <div>
                                <span id="PrimaryEmailValidation" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-5 float-start ms-2 me-3 pt-4">
                            <input class="btn btn-theme mt-2 mb-2" onclick="AddTextBox();" type="button" value="Add New Email">
                        </div>
                        <div class="form-group col-md-5 float-start ms-2 me-3">
                            <label asp-for="CompanyStartingDate" class="control-label"></label> <span style="font-weight:bold;">(eg. 2022-01-31)</span> 
                            <input asp-for="CompanyStartingDate" id="CompanyStartingDate" class="form-control" onfocus="CheckExistanceOfSecondEmail();" readonly/>
                            <span asp-validation-for="CompanyStartingDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-5 float-start ms-2 me-3" id="CountryBlock">
                            <label asp-for="City" class="control-label"></label> 
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-5 float-start ms-2 me-3" id="CountryBlock">
                            <label asp-for="Country" class="control-label"></label> <span class="text-danger">*</span>
                            @Html.DropDownListFor(w => w.Country, Model.Countries, new { @class = "form-control form-select single-line select-box", required = (string)null })
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check" id="IsActiveBlock" hidden="hidden">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsActive" value="false" /> @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>
                        <input type="hidden" asp-for="Module" id="Module" value="@Model.Module" />
                        <div id="_newEmails">
                            <input type="hidden" asp-for="OtherEmailIdValues" id="OtherEmailIdValues" value="@Model.OtherEmailIdValues" />
                        </div>
                        <div class="form-group m-3 mt-3">
                            <input type="submit" value="Create" class="btn btn-theme" id="btnSubmit" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/select2/select2.min.css" rel="stylesheet" />
<script src="~/select2/select2.min.js"></script>
<script>
    jQuery('#addCompanyForUser').on('submit', function () {
        if (jQuery(this).data('form_is_invalid')) {
            jQuery(this).data('form_is_invalid', false);
        } else {
            jQuery(this).find('#btnSubmit').prop('disabled', true);
        }
    }).on('invalid-form.validate', function () {
        jQuery(this).data('form_is_invalid', true);
    });
</script>
<script>
    $('#IsTRN').change(function() {
        if(this.checked) {
            $("#TRNBlock").removeAttr("hidden");
            $("#TRN").attr("required","required");
        }
        else{
            $("#TRNBlock").attr("hidden","hidden");
            $("#TRN").removeAttr("required");
        }
    });

    ////// Open Selection dropdown on focus                                     -- Yashasvi TBC (09-02-2023)
    $(document).on('focus', '.select2.select2-container', function (e) {
        if (e.originalEvent && $(this).find(".select2-selection--single").length > 0) {
            $(this).siblings('select').select2('open');
        }
    });

    $(function(){
        $(".select-box").select2();
    });
</script>
<script>
    function ValidAlphabet(data) {    
	    var code = (event.which) ? event.which : event.keyCode;    
	    if (!(code>= 48 && code <=57) || !(code >=96 && code <=105) || code == 54 || code == 189 || code == 219 || code==57) {
		    if (code != 32 && code != 190) {
			    var digits = $(data).val();
			    var lastValue = digits.substring(digits.length - 1);
			    digits = digits.replace(/[^(\+\s)[^0-9-]/g, '');
			    if (lastValue == "^" || lastValue == "-" || lastValue == "(" || lastValue == ")" || lastValue == "[") {
				    digits = digits.replace(lastValue, '');
			    }
			    $(data).val(digits);
		    }
	    }
    };

    $(document).ready(function () {
        $("#loader").hide();
    });
</script>
<script>
    $("#UserChange").change(function(){

        var userId = $("#UserChange").val();

        $.ajax({
            url: "@Url.Action("GetAccountNumber", "Company")",
            method: "GET",
            data:{"UserId":userId},
            success: function (response) {
                $("#accountNumber").val(response);
            }
        });
    });
</script>
<script>
    var i=1;
    var _countries = new Array();

    $(document).ready(function(){

        $.ajax({
            url: "@Url.Action("GetCountries", "Company")",
            method: "GET",
            success: function (response) {

                if(response!=null){
                    for(var index=0;index < response.length;index++){
                        _countries.push(response[index].commonName);
                    }
                }
            }
        });
    });

    function GetDynamicTxtBox() {

        var _textboxId = "Id"+i;
        var div = $("<div />").attr("class","form-group");

        var div1 = $("<div />").attr("class","d-flex justify-content-between");

        var div2 = $("<div />").attr("class","col-md-8");

        var div4 = $("<div />").attr("class","col-md-6 col-lg-6 col-sm-6 float-start");

        var div5 = $("<div />").attr("class","col-md-6 col-lg-6 col-sm-6 float-start mt-2");

        var selectBox = $("<select />").attr("name", "OtherContactNumbersCode").attr("class","form-control col-md-6 col-lg-6 form-select select-box single-line removeTxt"+i).attr("onchange","GetDialingCodeOfCountry(this.value,"+_textboxId+");").attr("required","required");
        selectBox.append("<option value=''>Select Country</option>");
        if(_countries.length!=null){
            for(var index=0;index < _countries.length;index++){
                selectBox.append("<option value='"+_countries[index]+"'>"+_countries[index]+"</option>");
            }
        }
        div5.append(selectBox);
        div2.append(div5);

        var textBox = $("<input />").attr("type", "text").attr("name", "OtherContactNumbers").attr("class","form-control col-md-6 col-lg-6 mt-2 removeTxt"+i).attr("required","required").attr("id",_textboxId).attr("maxlength","20").attr("onkeyup","ValidAlphabet(this)");
        textBox.val("");
        div4.append(textBox);
        div2.append(div4);

        div1.append(div2);

        var div3 = $("<div />");
        var _class = "removeTxt"+i;
        var button = $("<input />").attr("type", "button").attr("value", "Remove").attr("class","btn btn-theme ms-2 mt-2 removeTxt"+i);
        button.attr("onclick", "RemoveTxtBox('"+_class+"')");
        div3.append(button);
        div1.append(div3);

        div.append(div1);
        i=i+1;
        $(selectBox).select2();
        $("#NewContactNumbers").append(div);
    };

    function AddNewContactNumber() {

        GetDynamicTxtBox();
    };

    function RemoveTxtBox(button) {
        $("."+button).parent().remove();
    };
</script>
<script>
    $(function(){
        $.ajax({
            url: "@Url.Action("GetLastAccountNumber", "Company")",
            method: "GET",
            success: function (response) {
                $("#AccountNumber").val(response);
            }
        });
    });
</script>
<script>
    function GetDialingCodeOfCountry(value,Id){
        $.ajax({
            url: "@Url.Action("GetDialingCodeOfCountry", "Company")",
            method: "GET",
            data:{'Country':value},
            success: function (response) {
                $(Id).val(response);
            }
        });
    };
</script>
<script>
    $(document).ready(function(){

        var _emails=$("#OtherEmailIdValues").val();
        if($("#OtherEmailIdValues").val()!=""){
           if(_emails.indexOf(",")>-1){
               var index=1;
               var _allemails = _emails.split(",");
               var _length = _allemails.length;
               for(var i=0;i<_length;i++){
                    var div = $("<div />").attr("class","form-group");

                    var div1 = $("<div />").attr("class","d-flex justify-content-between");

                    var div2 = $("<div />").attr("class","col-md-8");

                    var textBox = $("<input />").attr("type", "email").attr("name", "OtherEmailID").attr("class","form-control col-md-8 EmailID mt-2 remove"+index).attr("value",_allemails[i]).attr("required","required");
                    div2.append(textBox);
                    div1.append(div2);

                    var div3 = $("<div />");
                    var _class = "remove"+index;
                    var button = $("<input />").attr("type", "button").attr("value", "Remove").attr("class","btn btn-theme ms-2 mt-2 remove"+index);
                    button.attr("onclick", "RemoveTextBox('"+_class+"')");
                    div3.append(button);
                    div1.append(div3);

                    div.append(div1);
                    index=index+1;

                    $("#NewEmails").append(div);
               }
           }
           else{
                var div = $("<div />").attr("class","form-group");

                var div1 = $("<div />").attr("class","d-flex justify-content-between");

                var div2 = $("<div />").attr("class","col-md-8");

                var textBox = $("<input />").attr("type", "email").attr("name", "OtherEmailID").attr("class","form-control col-md-8 EmailID mt-2 remove"+i).attr("value",_emails).attr("required","required");
                div2.append(textBox);
                div1.append(div2);

                var div3 = $("<div />");
                var _class = "remove"+i;
                var button = $("<input />").attr("type", "button").attr("value", "Remove").attr("class","btn btn-theme ms-2 mt-2 remove"+i);
                button.attr("onclick", "RemoveTextBox('"+_class+"')");
                div3.append(button);
                div1.append(div3);

                div.append(div1);
                i=i+1;

                $("#NewEmails").append(div);
           }
        }
    });
</script>


<script>
    var i=1;
    function GetDynamicTextBox(value) {

        var div = $("<div />").attr("class","form-group");

        var div1 = $("<div />").attr("class","d-flex justify-content-between");

        var div2 = $("<div />").attr("class","col-md-8");

        var textBox = $("<input />").attr("type", "email").attr("name", "OtherEmailID").attr("class","form-control col-md-8 EmailID mt-2 remove"+i).attr("required","required");
        textBox.val(value);
        div2.append(textBox);
        div1.append(div2);

        var div3 = $("<div />");
        var _class = "remove"+i;
        var button = $("<input />").attr("type", "button").attr("value", "Remove").attr("class","btn btn-theme ms-2 mt-2 remove"+i);
        button.attr("onclick", "RemoveTextBox('"+_class+"')");
        div3.append(button);
        div1.append(div3);

        div.append(div1);
        i=i+1;
        return div;
    };

    function AddTextBox() {
        var div = GetDynamicTextBox("");
        $("#NewEmails").append(div);
    };

    function RemoveTextBox(button) {

        $("."+button).parent().remove();
    };
</script>

<script>
    function CheckExistanceOfAccountNumber(){
        event.preventDefault();

        var accountNumber = $("#AccountNumber").val();
        $("#AccountNumberValidation").hide();
        $.ajax({
            url: "@Url.Action("CheckAccountNumberExistance", "Company")",
            method: "GET",
            data:{"AccountNumber":accountNumber},
            success: function (response) {
                if(response == -1){
                    $("#AccountNumberValidation").show();
                    $("#AccountNumberValidation").text(accountNumber +" aleady exists.");
                }
            }
        });
    }
</script>
<script>
    $(function () {
        $("#CompanyStartingDate").datepicker({
            format: 'yyyy-mm-dd',
            changeMonth: true,
            changeYear: true,
            autoclose: true,
            todayHighlight: true,
        });
    });
</script>
<script>
    function CheckBothNumbers(){

        event.preventDefault();
        var mobileNumber = $("#MobileNumber").val();
        var emergencyNumber = $("#EmergencyNumber").val();
        $("#TelephoneValidation").hide();
        if(mobileNumber == emergencyNumber && mobileNumber!="" && emergencyNumber!=""){
            $("#TelephoneValidation").show();
            $("#TelephoneValidation").text("Both Phone Number and Emergency Number were same.Please enter different Phone Number.!");
        }
    }
    function CheckExistanceOfSecondEmail(){
        event.preventDefault();

        $("#SecondEmailValidation").hide();
        var email = $("#SecondEmailID").val();
        var primaryEmail = $("#EmailID").val();
        if(email == primaryEmail && email!="" && primaryEmail!=""){
            $("#SecondEmailValidation").show();
            $("#SecondEmailValidation").text("Both Email and Second Email were same.Please enter different Email ID.!");
        }
        $.ajax({
            url:"@Url.Action("CheckEmailExistance","Company")",
            mehod:"GET",
            data:{"Email":email},
            success:function(response){
                if(response == -1){
                    $("#SecondEmailValidation").show();
                    $("#SecondEmailValidation").text(email +" already exists.");
                    if(email == primaryEmail){
                        $("#SecondEmailValidation").append("<br/>Both Email and Second Email were same.Please enter different Email ID.!");
                    }
                }
            }
        });
    }
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#show_password').hover(function show() {
            $('#Password').attr('type', 'text');
            $('.icon').removeClass('fas fa-eye-slash').addClass('fas fa-eye');
        },
        function () {
            $('#Password').attr('type', 'password');
            $('.icon').removeClass('fas fa-eye').addClass('fas fa-eye-slash');
        });
    });
</script>  
<script>
    $("#btnSubmit").on('click', function() {
        $("#loader").show();
        var dateString = $("#CompanyStartingDate").val();

        if (!/^\d{4}\-\d{1,2}\-\d{1,2}$/.test(dateString)) {
            $("#loader").hide();
            alert("Please Enter Valid Date Format for Company Starting Date.");
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); 
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            $('#CompanyStartingDate').datepicker('setDate', today);
            $("#CompanyStartingDate").focus();
            return false;
        }
        $("#loader").hide();
    });
</script>