@model DIBN.Areas.Admin.Models.MainShareholderDocumentsModel
@{
    ViewData["Title"] = "UploadDocuments";
}
<div id="loader">
    <div class="spinner-1">
        <div class="center-div-1">
            <div class="loader-circle-75">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h4 class="card-title text-center">Documents</h4>
    </div>
    <div class="col-md-4">
        @if(Model.shareholderDocuments.Count()>0){
            
            @foreach (var item in Model.shareholderDocuments)
            {
                <a href="@Url.Action("Index","Shareholders",new{name=@item.Module})" class="btn btn-theme" style="float:right;margin-bottom:15px;">Back to List</a>
                <input type="hidden" name="Id" value="@item.ShareholderId" id="Id"/>
                break;
            }
        }else{
            <a href="@Url.Action("Index","Shareholders",new{name="Shareholders"})" class="btn btn-theme" style="float:right;margin-bottom:15px;">Back to List</a>
            
        }
    </div>
</div>
@if (Model.allowedModule.Contains("Insert"))
{
    <div class="row" id="Insert">
        <div class="col-md-12">
            <div class="card card-primary">
                <form action="@Url.Action("UploadDocuments","Shareholders")" enctype="multipart/form-data" method="post" id="documentForm">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        @foreach (var item in Model.shareholderDocuments)
                        {
                            <input name="ShareholderId" asp-for="@item.ShareholderId" id="ShareholderId" type="hidden" />
                            <input name="Module" asp-for="@item.Module" type="hidden" />
                            break;
                        }
                        <div class="col-md-12">
                            <div class="form-group m-2 me-3">
                                <label class="control-label">Title</label> <span class="text-danger">*</span>
                                <input name="Title" class="form-control m-2" type="text" id="Title" required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group m-2 me-3">
                                <label class="control-label">Upload File</label> <span class="text-danger">*</span>
                                <input name="formFile" class="form-control m-2" type="file" id="formFile" required />
                            </div>
                            <div class="form-group m-2">
                                <input type="submit" value="Upload" class="btn btn-theme" id="btnShareholderDocument" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@if (Model.allowedModule.Contains("View"))
{
    <div class="row" id="View">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Documents(s)</h4>
                    <div class="table-rep-plugin">
                        <div class="table-responsive mb-0" data-pattern="priority-columns">
                            <table id="datatable" class="table table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            File Name
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 0;
                                    }
                                    @foreach (var item in Model.shareholderDocuments)
                                    {
                                        @if (item.FileName != null)
                                        {
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@item.Title</td>
                                                <td>@item.FileName@item.Extension</td>
                                                <td>
                                                    <form asp-action="DownloadSelectedDocument" asp-controller="Shareholders" class="float-start Details" method="get">
                                                        <input type="hidden" asp-for="@item.ID" name="DocumentId" />
                                                        <input type="hidden" asp-for="@item.ShareholderId" name="Id" />
                                                        <input type="submit" value="Download" name="Download" class="btn btn-theme Details" />
                                                    </form>
                                                    @if (Model.allowedModule.Contains("Delete"))
                                                    {
                                                        <span class="btn btn-theme ms-2 float-start Delete" onclick="RemoveDocument(@item.ShareholderId,@item.ID);">
                                                            <i class="fas fa-trash"></i>
                                                        </span>
                                                    }
                                                    
                                                    <input type="hidden" asp-for="@item.Module" />
                                                </td>
                                            </tr>
                                            i++;
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Sweet Alerts-->
<script src="~/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" />
<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<link href="~/select2/select2.min.css" rel="stylesheet" />
<script src="~/select2/select2.min.js"></script>


<script>
    jQuery('#documentForm').on('submit', function () {
        if (jQuery(this).data('form_is_invalid')) {
            jQuery(this).data('form_is_invalid', false);
        } else {
            jQuery(this).find('#btnShareholderDocument').prop('disabled', true);
        }
    }).on('invalid-form.validate', function () {
        jQuery(this).data('form_is_invalid', true);
    });
</script>
<script>
    var table = $('#datatable').DataTable({
        responsive:true,
        paging: true,
        ordering: true,
        searching: true,
        "aLengthMenu": [20, 30, 50],
        dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
    });

    $(document).ready(function () {
        $("#loader").hide();
    });
</script>

<script>
    function RemoveDocument(ShareholderId,DocumentId){
        event.preventDefault();
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: 'ms-3 btn btn-success',
            cancelButton: 'btn btn-danger'
          },
          buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!',
          reverseButtons: true,
          showConfirmButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $("#loader").show();
                var url = "@Url.Action("RemoveShareholderDocuments","Shareholders")";
                $.ajax({
                    url: url,
                    method: "GET",
                    data:{"ShareholderId":ShareholderId,"DocumentId":DocumentId},
                    success: function (response) {
                        $("#loader").hide();
                        swalWithBootstrapButtons.fire({
                          title: 'Deleted.',
                          text: "Selected Document Deleted Successfully..!!",
                          icon: 'success'
                        }).then((result) => {
                            window.location.reload();
                        });
                    }
                });
            }
            else if (
                result.dismiss === Swal.DismissReason.cancel
              ) {
                $("#loader").hide();
                swalWithBootstrapButtons.fire(
                  'Cancelled',
                  'Cancled by User..!! :)',
                  'error'
                )
              }
        });
    }
</script>
<script>
    $(function(){
        
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: 'ms-3 btn btn-success',
            cancelButton: 'btn btn-danger'
          },
          buttonsStyling: false
        })
        var message = '@ViewData["Message"]';
        if(message!=""){
            if(message.startsWith("Document")){
                swalWithBootstrapButtons.fire({
                    title: 'Success.',
                    text: message,
                    icon: 'success'
                }).then((result) => {
                    message = "";
                    var Id = $("#Id").val();
                    var Module = $("#Module").val();
                    var url ="@Url.Action("GetUploadDocuments","Shareholders")";
                    window.location.href=url+"?Id="+Id+"&name=Shareholders";
                });
            }else{
                swalWithBootstrapButtons.fire({
                    title: 'Failed.',
                    text: message,
                    icon: 'error'
                }).then((result) => {
                    message = "";
                    var Id = $("#Id").val();
                    var Module = $("#Module").val();
                    var url ="@Url.Action("GetUploadDocuments","Shareholders")";
                    window.location.href=url+"?Id="+Id+"&name=Shareholders";
                });
            }
        }

    });
</script>