@model DIBN.Areas.Admin.Models.ShareholderWithFilter
@{
    ViewData["Title"] = "Index";
}
<input type="hidden" name="Module" id="Module" value="@Model.Module" />
<div id="loader">
    <div class="spinner-1">
        <div class="center-div-1">
            <div class="loader-circle-75">
            </div>
        </div>
    </div>
</div>
<div id="View">
    <div class="row">
        <div class="col-lg-12">
            @if (Model.allowedModule.Contains("View"))
            {
                <a role="button" onclick="ExportPdfData();" class="btn btn-theme mb-3 float-end ms-3 Details">Export(Pdf)</a>
                <a role="button" onclick="ExportExcelData();" class="btn btn-theme mb-3 float-end ms-3 Details">Export(Excel)</a>
            }
            @if (Model.allowedModule.Contains("Insert"))
            {
                <button class="btn btn-theme mb-3 float-end" onclick="AddNew();" id="Insert">Create</button>
            }
        </div>
    </div>
    @if (Model.allowedModule.Contains("View"))
    {
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="col-md-3 col-sm-12 col ps-1 float-start">
                    <div class="card bg-blue p-3 mb-0 Suitable text-white text-center text-break font-weight-4 font-size-16" style="border-radius:15px 15px 0px 0px;">
                        Active Shareholder/Director(s)
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col ps-1 float-start">
                    <div class="card p-3 Benefits mb-0 text-break border-theme-top border-theme-left border-theme-right text-theme text-center font-weight-4 font-size-16" style="border-radius:15px 15px 0px 0px;">
                        In-Active Shareholder/Director(s)
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12 ps-1 float-start cssanimation fadeInBottom" style="background:#F8F8F8;" id="Suitable">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-rep-plugin">
                                <div class="table-responsive mb-0" data-pattern="priority-columns">
                                    <table id="datatable-active" class="table table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Company
                                                </th>
                                                <th>
                                                    Share(%)
                                                </th>
                                                <th>
                                                    Nationality
                                                </th>
                                                <th>
                                                    Designation
                                                </th>
                                                <th>
                                                    Passport No.
                                                </th>
                                                <th>
                                                    Passport Expiry Date
                                                </th>
                                                <th>
                                                    Visa Expiry Date
                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12 ps-1 float-start d-none cssanimation fadeInBottom" style="background:#F8F8F8;" id="Benefits">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-rep-plugin">
                                <div class="table-responsive mb-0" data-pattern="priority-columns">
                                    <table id="datatable-1" class="table table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Company
                                                </th>
                                                <th>
                                                    Share(%)
                                                </th>
                                                <th>
                                                    Nationality
                                                </th>
                                                <th>
                                                    Designation
                                                </th>
                                                <th>
                                                    Passport No.
                                                </th>
                                                <th>
                                                    Passport Expiry Date
                                                </th>
                                                <th>
                                                    Visa Expiry Date
                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Sweet Alerts-->
<script src="~/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>

<script src="~/select2/select2.min.js"></script>

<script>
    ////// Open Selection dropdown on focus                                     -- Yashasvi TBC (09-02-2023)
    $(document).on('focus', '.select2.select2-container', function (e) {
        if (e.originalEvent && $(this).find(".select2-selection--single").length > 0) {
            $(this).siblings('select').select2('open');
        }
    });
    $(function () {
        $('#Companies').select2();
    });
    $(document).ready(function () {
        $("#loader").hide();
    });
</script>
<script>
    $(document).ready(function () {
        var flag = false;
        var url = "@Url.Action("GetAllActiveShareholderWithPagination","Shareholders")";
        var table1 = $('#datatable-active').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "ajax": {
                "type": "post",
                "datatype": "json",
                "data": function () {
                    var info = $('#datatable-active').DataTable().page.info();
                    $('#datatable-active').DataTable().ajax.url(
                        url
                    );
                }
            },
            "columns": [
                {
                    "data": function (data, full, meta) {
                        if (data.lastName != "N/A") {
                            return data.firstName + ' ' + data.lastName;
                        }
                        else {
                            return data.firstName;
                        }
                    },
                    "name": "Name"
                },
                { "data": "company", "name": "Company" },
                {
                    "data": function (data, full, meta) {
                        return data.sharePercentage + ' %';
                    },
                    "name": "Share(%)"
                },
                { "data": "nationality", "name": "Nationality" },
                {"data": function (data, full, meta) {
                    return data.designation;
                }, "name": "Designation" },
                { "data": "passportNumber", "name": "Passport No." },
                { "data": "passportExpiryDate", "name": "Passport Expiry Date" },
                { "data": "visaExpiryDate", "name": "Visa Expiry Date" },
                {
                    "data": function (data, full, meta) {
                        var updateShareholder = "UpdateShareholder(" + data.id + ")";
                        var removeShareholder = "Remove(" + data.id + ")";
                        var viewDocuments = "ViewDocuments(" + data.id + ")";
                        var returnKey = '';
                        if ('@Model.allowedModule.Contains("Update")' == "True") {
                            returnKey = '<button class="btn btn-theme Update" onclick=' + updateShareholder + '><i class="fas fa-edit"></i></button>';
                        }
                        if ('@Model.allowedModule.Contains("Delete")' == "True") {
                            returnKey = returnKey + '<button class="btn btn-theme Delete ms-1" onclick=' + removeShareholder + '><i class="fas fa-trash"></i></button>';
                        }
                        if ('@Model.allowedModule.Contains("View")' == "True") {
                            returnKey = returnKey + '<button class="btn btn-theme ms-1 Details" onclick=' + viewDocuments + '>Documents</button>';
                        }
                        return returnKey;
                    },
                    "name": ""
                },
            ],
            "responsive": true,
            "deferRender": true,
            "language": {
                'processing': '<div class="spinner-2"><div class="center-div-2"><div class="loader-circle-1"></div></div></div>'
            },
            paging: true,
            pagingType: 'simple_numbers',
            ordering: true,
            searching: true,
            "aLengthMenu": [20, 30, 50],
            dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        });

        var coll = document.getElementsByClassName("Suitable");

        for (var i = 0; i < coll.length; i++) {

            coll[i].addEventListener("click", function () {
                $("#Suitable").removeClass("d-none");
                $("#Benefits").addClass("d-none");
                $(".Suitable").addClass("bg-blue").removeClass("border-theme");
                $(".Suitable").closest("div").addClass("text-white").removeClass("text-theme");
                if ($(".Benefits").hasClass("bg-blue")) {
                    $(".Benefits").removeClass("bg-blue").addClass("border-theme-top").addClass("border-theme-left").addClass("border-theme-right");
                    $(".Benefits").closest("div").addClass("text-theme").removeClass("text-white");
                }
            });
        }
    });
</script>
<script>
    $(document).ready(function () {
        var coll = document.getElementsByClassName("Benefits");
        for (var i = 0; i < coll.length; i++) {
            var flag = false;
            var url = "@Url.Action("GetAllInActiveShareholderWithPagination","Shareholders")";
            coll[i].addEventListener("click", function () {
                if ($.fn.dataTable.isDataTable('#datatable-1')) {
                    $('#datatable-1').DataTable().destroy();
                    $('#datatable-1').empty();
                }

                var table1 = $('#datatable-1').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "ajax": {
                        "type": "post",
                        "datatype": "json",
                        "data": function () {
                            $('#datatable-1').DataTable().ajax.url(
                                url
                            );
                        }
                    },
                    "columns": [
                        {
                            "data": function (data, full, meta) {
                                if (data.lastName != "N/A") {
                                    return data.firstName + ' ' + data.lastName;
                                }
                                else {
                                    return data.firstName;
                                }
                            },
                            title: "Name",
                            name: "Name"
                        },
                        { "data": "company", title: "Company", name: "Company" },
                        {
                            "data": function (data, full, meta) {
                                return data.sharePercentage + ' %';
                            },
                            title: "Share(%)",
                            name: "Share(%)"
                        },
                        { "data": "nationality", title: "Nationality", name: "Nationality" },
                        {"data": function (data, full, meta) {
                            return data.designation;
                        }, title: "Designation", name: "Designation" },
                        { "data": "passportNumber", title: "Passport No.", name: "Passport No." },
                        { "data": "passportExpiryDate", title: "Passport Expiry Date", name: "Passport Expiry Date" },
                        { "data": "visaExpiryDate", title: "Visa Expiry Date", name: "Visa Expiry Date" },
                        {
                            "data": function (data, full, meta) {
                                var updateShareholder = "UpdateShareholder(" + data.id + ")";
                                var removeShareholder = "Remove(" + data.id + ")";
                                var viewDocuments = "ViewDocuments(" + data.id + ")";
                                var returnKey = '';
                                if ('@Model.allowedModule.Contains("Update")' == "True") {
                                    returnKey = '<button class="btn btn-theme Update" onclick=' + updateShareholder + '><i class="fas fa-edit"></i></button>';
                                }
                                if ('@Model.allowedModule.Contains("Delete")' == "True") {
                                    returnKey = returnKey + '<button class="btn btn-theme Delete ms-1" onclick=' + removeShareholder + '><i class="fas fa-trash"></i></button>';
                                }
                                if ('@Model.allowedModule.Contains("View")' == "True") {
                                    returnKey = returnKey + '<button class="btn btn-theme ms-1 Details" onclick=' + viewDocuments + '>Documents</button>';
                                }
                                return returnKey;
                            },
                            title: "",
                            name: ""
                        },
                    ],
                    "responsive": true,
                    "deferRender": true,
                    "language": {
                        'processing': '<div class="spinner-2"><div class="center-div-2"><div class="loader-circle-1"></div></div></div>'
                    },
                    paging: true,
                    pagingType: 'simple_numbers',
                    ordering: true,
                    searching: true,
                    "aLengthMenu": [20, 30, 50],
                    dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                });

                $("#Suitable").addClass("d-none");
                $("#Benefits").removeClass("d-none");
                $(".Benefits").addClass("bg-blue").removeClass("border-theme");
                $(".Benefits").closest("div").addClass("text-white").removeClass("text-theme");
                if ($(".Suitable").hasClass("bg-blue")) {
                    $(".Suitable").removeClass("bg-blue").addClass("border-theme-top").addClass("border-theme-left").addClass("border-theme-right");
                    $(".Suitable").closest("div").addClass("text-theme").removeClass("text-white");
                }
            });
        }
    });
</script>
<script>
    function ExportExcelData() {
        var url = "@Url.Action("ExportShareholdersToExcel","Shareholders")";
        var selected = $("#Companies").val();
        url = url + "?Id=" + selected;
        window.location.href = url;
    }

    function ExportPdfData() {
        var url = "@Url.Action("ExportShareholdersToPdf","Shareholders")";
        var selected = $("#Companies").val();
        url = url + "?Id=" + selected;
        window.location.href = url;
    }
</script>
<script>
    function AddNew() {
        var name = $("#Module").val();
        var url = "@Url.Action("Create","Shareholders")";
        window.location.href = url + "?name=" + name;
    };
    function UpdateShareholder(Id) {
        var name = $("#Module").val();
        var url = "@Url.Action("Edit","Shareholders")";
        window.location.href = url + "?name=" + name + "&Id=" + Id;
    };
    function ViewDocuments(Id) {
        var name = $("#Module").val();
        var url = "@Url.Action("GetUploadDocuments","Shareholders")";
        window.location.href = url + "?name=" + name + "&Id=" + Id;
    }
</script>
<script>
    function Remove(Id) {
        event.preventDefault();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'ms-3 btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true,
            showConfirmButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $("#loader").show();
                $.ajax({
                    url: "@Url.Action("Delete", "Shareholders")",
                    method: "GET",
                    data: { "Id": Id },
                    success: function (response) {
                        $("#loader").hide();
                        swalWithBootstrapButtons.fire({
                            title: 'Deleted.',
                            text: "Shareholder/Director Deleted Successfully..!!",
                            icon: 'success'
                        }).then((result) => {
                            window.location.reload();
                        });
                    }
                });
            }
        });
    }
</script>
<script>
    function filterByCompany(Id) {

        var selected = $("#Companies").val();
        var module = $("#Module").val();
        var url = "@Url.Action("Index", "Shareholders")";
        url = url + "?name=" + module + "&CompanyId=" + selected;
        window.location.href = url;
    }
</script>
<script>
    $("#searchByValueCmp").on('change', function () {
        var selectedValue = $("#searchByValueCmp").val();

        if (selectedValue == "Passport Expiry Date") {
            $("#searchedValueCmp").val("");
            $("#searchedValueCmp").datepicker({
                format: 'dd-mm-yyyy',
                changeMonth: true,
                changeYear: true,
                autoclose: true,
                todayHighlight: true,
            })

            $("#searchedValueCmp").attr("readonly", "readonly");
        }
        else if (selectedValue == "Visa Expiry Date") {
            $("#searchedValueCmp").val("");
            $("#searchedValueCmp").datepicker({
                format: 'dd-mm-yyyy',
                changeMonth: true,
                changeYear: true,
                autoclose: true,
                todayHighlight: true,
            })

            $("#searchedValueCmp").attr("readonly", "readonly");
        }
        else {
            $("#searchedValueCmp").datepicker("destroy");
            $("#searchedValueCmp").removeAttr("readonly");
            $("#searchedValueCmp").val("");
        }
    });

    $("#searchByValueEmp").on('change', function () {
        var selectedValue = $("#searchByValueEmp").val();

        if (selectedValue == "Passport Expiry Date") {
            $("#searchedValueEmp").val("");
            $("#searchedValueEmp").datepicker({
                format: 'dd-mm-yyyy',
                changeMonth: true,
                changeYear: true,
                autoclose: true,
                todayHighlight: true,
            })

            $("#searchedValueEmp").attr("readonly", "readonly");
        }
        else if (selectedValue == "Visa Expiry Date") {
            $("#searchedValueEmp").val("");
            $("#searchedValueEmp").datepicker({
                format: 'dd-mm-yyyy',
                changeMonth: true,
                changeYear: true,
                autoclose: true,
                todayHighlight: true,
            })

            $("#searchedValueEmp").attr("readonly", "readonly");
        }
        else {
            $("#searchedValueEmp").datepicker("destroy");
            $("#searchedValueEmp").removeAttr("readonly");
            $("#searchedValueEmp").val("");
        }
    });

    function ClearFilterToDatatable() {
        window.location.reload();
    }
</script>