@model DIBN.Areas.Admin.Models.MainRMTeamModel
@{
    ViewData["Title"] = "RM Team";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="loader">
    <div class="spinner-1">
        <div class="center-div-1">
            <div class="loader-circle-75">
            </div>
        </div>
    </div>
</div>
@if (Model.allowedModule.Contains("Insert"))
{
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-theme mb-3 float-end" onclick="AddNew();" id="Insert">Create</button>
        </div>
    </div>
}
@if (Model.allowedModule.Contains("View"))
{
    <div class="row" id="View">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">RM Team</h4>
                    <hr style="height:1px;" class="text-theme" />
                    <div class="table-rep-plugin">
                        <div class="table-responsive mb-0" data-pattern="priority-columns">
                            <table id="datatable" class="table table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Email Address
                                        </th>
                                        <th>
                                            Mobile No.
                                        </th>
                                        <th>
                                            Company
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<input type="hidden" asp-for="Module" id="Module" />
<input type="hidden" asp-for="message" id="message" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Sweet Alerts-->
<script src="~/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" />
<script>
    $(document).ready(function () {
        var message = $("#message").val();
        var module = $("#Module").val();

        if(message != null && message != "" && message != "null" && message != "undefined"){
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'ms-3 btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })
            if (message.includes("Successfully")){
                swalWithBootstrapButtons.fire({
                    title: 'Success.',
                    text: message,
                    icon: 'success'
                }).then((result) => {
                    message = "";
                    var url = "@Url.Action("Index", "RMTeam")";
                    url = url + "?name=" + module;
                    window.location.href = url;
                });
            }
            else{
                swalWithBootstrapButtons.fire({
                    title: 'Failed.',
                    text: message,
                    icon: 'error'
                }).then((result) => {
                    message = "";
                    var url = "@Url.Action("Index", "RMTeam")";
                    url = url + "?name=" + module;
                    window.location.href = url;
                });
            }
        }
    });
</script>

<script>
    $(document).ready(function () {
        var flag = false;
        var url = "@Url.Action("GetAllRMTeamListWithPagination", "RMTeam")";
        url = url + "?page=";
        var table = $('#datatable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "ajax": {
                "type": "post",
                "datatype": "json",
                "data": function () {
                    var info = $('#datatable').DataTable().page.info();
                    $('#datatable').DataTable().ajax.url(
                        url + (info.page + 1)
                    );
                }
            },
            "columns": [
                { "data": "index", "name": "" },
                {
                    "data": function (data, full, meta) {
                        return data.name;
                    },
                    "name": "Name"
                },
                { "data": "emailAddress", "name": "Email Address" },
                { "data": "mobileNumber", "name": "Mobile No." },
                {
                    "data": function (data, full, meta) {
                        if (data.company.length > 30) {
                            var AssignedCompany = data.company.substring(0, 30);
                            return '<span title="' + data.company + '">' + AssignedCompany + '...</span>';
                        }
                        else {
                            return data.company;
                        }
                    },
                    "name": "Company"
                },
                {
                    "data": function (data, full, meta) {
                        var updateRMTeam = "UpdateRMTeam(" + data.id + ")";
                        var removeRMTeam = "RemoveRMTeam(" + data.id + ")";
                        var returnKey = "";
                        if ('@Model.allowedModule.Contains("Update")' == "True") {
                            returnKey = '<span class="btn btn-theme Update ms-1" onclick=' + updateRMTeam + '><i class="fas fa-edit"></i></span>';
                        }
                        if ('@Model.allowedModule.Contains("Delete")' == "True") {
                            returnKey = returnKey + '<span class="btn btn-theme Delete ms-1" onclick=' + removeRMTeam + '><i class="fas fa-trash"></i></span>';
                        }
                        return returnKey;
                    },
                    "name": ""
                },
            ],
            "responsive": true,
            "deferRender": true,
            "language": {
                'processing': '<div class="spinner-2"><div class="center-div-2"><div class="loader-circle-1"></div></div></div>'
            },
            'columnDefs': [{
                'targets': [0],
                'orderable': false,
            }],
            paging: true,
            pagingType: 'simple_numbers',
            ordering: true,
            searching: true,
            "aLengthMenu": [20, 30, 50],
            dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        });
    });
</script>
<script>
    function AddNew() {
        var url = "@Url.Action("Create", "RMTeam")";
        window.location.href = url;
    }
    function UpdateRMTeam(Id) {
        var url = "@Url.Action("Edit", "RMTeam")";
        window.location.href = url + "?Id=" + Id;
    }
    $(document).ready(function () {
        $("#loader").hide();
    });
</script>
<script>
    function RemoveRMTeam(Id) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'ms-3 btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true,
            showConfirmButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $("#loader").show();
                $.ajax({
                    url: "@Url.Action("Delete", "RMTeam")",
                    method: "GET",
                    data: { "Id": Id },
                    success: function (response) {
                        $("#loader").hide();
                        swalWithBootstrapButtons.fire({
                            title: 'Deleted.',
                            text: "Selected RM Team Member Deleted Successfully..!!",
                            icon: 'success'
                        }).then((result) => {
                            window.location.reload();
                        });
                    }
                });
            }
        });
    }
</script>