@model IEnumerable<DIBN.Models.ImportantReminderViewModel>
@{
    ViewData["Title"] = "GetAllNotices";
}
<div id="loader">
    <div class="spinner-1">
        <div class="center-div-1">
            <div class="loader-circle-75">
            </div>
        </div>
    </div>
</div>

<div class="row" id="View">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Important Reminders</h4>
                <hr style="height:1px;color:black;" />
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th class="align-middle text-center">
                                        #
                                    </th>
                                    <th class="align-middle text-center">
                                        Notification
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var i = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    @if (@item.Service != null && @item.Service != "")
                                    {

                                        <tr>
                                            <td class="align-middle text-center">
                                                @(i+1)
                                            </td>
                                            <td>
                                                @if(@item.Username==""|| @item.Username==null)
                                                {
                                                    @Html.Raw("<strong>" + @item.Service + "</strong> of <strong>" + item.CompanyName + "</strong> is going to Expire on " +
                                                    item.ExpiryDate + ". Only " + item.LeftDayToExpire
                                                    + " Days Left.")
                                                }
                                                else
                                                {
                                                    @Html.Raw("<strong>" + @item.Service + "</strong> of <strong>" + item.Username + "</strong> is going to Expire on " +
                                                    item.ExpiryDate + ". Only " + item.LeftDayToExpire
                                                    + " Days Left.")
                                                }
                                            </td>
                                            <td>
                                                @if (@item.MarkAsRead == false)
                                                {
                                                    <a class="btn btn-theme" role="button" onclick="MarkAsRead(@item.CompanyId,@item.ID)">
                                                        Mark As Read
                                                    </a>
                                                }
                                            </td>
                                        </tr>

                                        i++;
                                    }

                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Sweet Alerts-->
<script src="~/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" />
<script>
    $('#datatable').dataTable({
        paging: true,
        ordering: true,
        searching: true,
        "aLengthMenu": [20, 30, 50],
    });
    $(document).ready(function () {
        $("#loader").hide();
    });
</script>
<script>
    function MarkAsRead(CompanyId,Id){
        $.ajax({
            url: "@Url.Action("MarkAsReadNotification","Home")",
            method: "GET",
            data:{"CompanyId":CompanyId,"Id":Id},
            success: function (response) {
                window.location.reload();
            }
        });
    };
</script>