@model DIBN.Areas.Admin.Models.CompanyViewModel.CompanyPermissionList
@{
    ViewData["Title"] = "AddUserPermission";
}
<div class="col-md-12">
    <div class="col-md-2 float-end">
        <a href="javascript:history.go(-1);" class="btn btn-theme float-end" style="margin-bottom:15px;">Back to List</a>
    </div>
</div>

<input asp-for="@Model.Module" type="hidden" id="Module" value="@Model.Module" />

<div class="row" id="invalidPermission">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="hidden" asp-for="@Model.CompanyId" id="CompanyId" />
                <div class="col-md-4 float-start">
                    <h4 class="card-title mb-2">Modules</h4>

                    @foreach (var item in Model.Modules)
                    {
                        <p style="margin-top:15px;">
                            @item.ModuleKeyword
                        </p>
                    }
                </div>
                <div class="col-md-8 float-end">
                    @foreach (var item in Model.Permissions)
                    {
                        <span class="card-title ms-4 mb-2 text-center">
                            @item.PermissionName
                        </span>

                    }
                    <div>
                        @{
                            List<string> permission = new List<string>();
                            permission.Add("Insert");
                            permission.Add("Update");
                            permission.Add("View");
                            permission.Add("Delete");
                            List<int> permissionId = new List<int>();
                            permissionId.Add(1);
                            permissionId.Add(2);
                            permissionId.Add(3);
                            permissionId.Add(4);

                        }

                        @foreach (var item in Model.Modules)
                        {
                            <p style="margin-top:15px;">
                                @for (var i = 0; i < Model.permissionCount; i++)
                                {
                                    var allowed = false;
                                    @foreach (var checkPermission in Model.getCompanyPermissionByCompanyIds)
                                    {

                                        if (checkPermission.ModuleId == item.ModuleId && checkPermission.PermissionId == permissionId[i])
                                        {
                                            allowed = true;
                                        }
                                    }
                                    <span class="ms-5 text-center allow_@permission[i]">
                                        <input class="form-check-input" type="checkbox" name="@item.ModuleId" id="allow_@item.ModuleId@permissionId[i]" value="@item.ModuleId" @(allowed?"checked=checked":null) onclick="removePermission(@item.ModuleId,'@permission[i]',@permissionId[i]);" />
                                    </span>
                                }
                            </p>
                        }
                    </div>
                </div>
            </div>
            <div class="mt-2 float-start">
                <input type="button" class="btn btn-theme ms-4 mb-2" value="Save" name="Save" id="savePermissions" />
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Sweet Alerts-->
<script src="~/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" />

<script>
    $("#savePermissions").click(function(){
        event.preventDefault();
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: 'ms-3 btn btn-success',
            cancelButton: 'btn btn-danger'
          },
          buttonsStyling: false
        })
        
        var CompanyId = $("#CompanyId").val();
        var insertPermission = $('.allow_Insert input:checkbox:checked').map(function () {
                return $(this).val();
            }).get();
        var updatePermission = $('.allow_Update input:checkbox:checked').map(function () {
                return $(this).val();
            }).get();
        var viewPermission = $('.allow_View input:checkbox:checked').map(function () {
                return $(this).val();
            }).get();
        var deletePermission = $('.allow_Delete input:checkbox:checked').map(function () {
                return $(this).val();
            }).get();
            
        if((insertPermission !=null || updatePermission != null || viewPermission !=null || deletePermission !=null) && CompanyId != null
            && (insertPermission.length>0 || updatePermission.length>0 || viewPermission.length >0 || deletePermission.length >0)){
            $.ajax({
                url: "@Url.Action("SaveCompanyPermission","Company")",
                method: "post",
                data:{"InsertPermission":insertPermission,"UpdatePermission":updatePermission,"ViewPermission":viewPermission,'DeletePermission':deletePermission,"CompanyId":CompanyId},
                success: function (response) {
                    if(response>0){
                        swalWithBootstrapButtons.fire({
                          title: 'Success.',
                          text: "Permission Added Successfully..!!",
                          icon: 'success'
                        }).then((result) => {
                            window.location.reload();
                        });
                    }else{
                        swalWithBootstrapButtons.fire({
                          title: 'Faild.',
                          text: "Due to Some Problem Selected Permission(s) were not allocated to this Company..!!",
                          icon: 'error'
                        }).then((result) => {
                            window.location.reload();
                        });
                    }
                }
            });
        }

    });
</script>
<script>
    function removePermission(moduleId,permission,permissionId){
        
       var checked= $("#allow_"+moduleId+permissionId);
       var CompanyId = $("#CompanyId").val();
       if(!$(checked).is(':checked')){
           $.ajax({
               url: "@Url.Action("RemoveCompanyPermission","Company")",
               method:"get",
               data:{"CompanyId":CompanyId,"ModuleId":moduleId,"PermissionId":permissionId},
               success: function (response) {
                    if(response>0){
                        
                        window.location.reload();
                    }
                }
           });
       }
    }
</script>


