@model DIBN.Areas.Admin.Models.SaveNewUser

@{
    ViewData["Title"] = "Create";
}

<div id="loader">
    <div class="spinner-1">
        <div class="center-div-1">
            <div class="loader-circle-75">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h4 class="card-title">Add New User</h4>
    </div>
    <div class="col-md-6">
        <a href="javascript:history.go(-1);" class="btn btn-theme float-end" style="margin-bottom:15px;">Back to List</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="CreateNewUserForCompanys" asp-area="admin" method="post" id="createCompanyUserForm">
                    <div class="row">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <input type="hidden" asp-for="CompanyId"/>
                        <div class=" col-md-5 float-start ms-2 me-3">
                            <div class="form-group">
                                <label asp-for="AccountNumber" class="control-label"></label> <span class="text-danger">*</span>
                                <input asp-for="AccountNumber" id="accountNumber" class="form-control" />
                                <input asp-for="RoleId[0]" type="hidden" class="form-control" />
                                <span asp-validation-for="AccountNumber" class="text-danger"></span>
                            </div>
                            <div>
                                <span id="AccountNumberValidation" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-5 float-start ms-2 me-3">
                            <label asp-for="Password" class="control-label"></label> <span class="text-danger">*</span>
                            <div class="input-group">
                                <input asp-for="Password" type="password" class="form-control" onfocus="CheckExistanceOfAccountNumber();" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text btn btn-theme" id="show_password"><i class="fas fa-eye-slash icon"></i></span>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-5 float-start ms-2 me-3">
                            <label asp-for="FirstName" class="control-label"></label> <span class="text-danger">*</span>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-5 float-start ms-2 me-3">
                            <label asp-for="LastName" class="control-label"></label> <span class="text-danger">*</span>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-5 float-start ms-2 me-3">
                            <label asp-for="Nationality" class="control-label"></label> <span class="text-danger">*</span>
                            @Html.DropDownListFor(w => w.Nationality, Model.Countries, new { @class = "form-control form-select single-line select-box", required = (string)null })
                            <span asp-validation-for="Nationality" class="text-danger"></span>
                        </div>
                        <div class=" col-md-5 float-start ms-2 me-3">
                            <div class="form-group">
                                <label asp-for="EmailID" class="control-label"></label> <span class="text-danger">*</span>
                                <input asp-for="EmailID" type="email" class="form-control" id="EmailID"/>
                                <span asp-validation-for="EmailID" class="text-danger"></span>
                            </div>
                            <div>
                                <span id="EmailValidation" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-5 float-start ms-2 me-3">
                            <div class="form-group" id="MobileNumberBlock">
                                <label asp-for="PhoneNumber" class="control-label"></label> <span class="text-danger">*</span>
                                <div class="d-flex">
                                    <div class="col-md-4 col-lg-4">
                                        @Html.DropDownListFor(w => w.MCountry, Model.Countries, new { @class = "form-control form-select single-line select-box", @onchange = "GetDialingCodeOfCountry(this.value)", required = (string)null })
                                    </div>
                                    <div class="col-md-8 col-lg-8">
                                        <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber" onkeyup="ValidAlphabet(this)" maxlength="20"/>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 float-start ms-2 me-3 mt-2">
                            <div class="form-group form-check" id="IsLoginBlock">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsLogin" type="checkbox" /> @Html.DisplayNameFor(model => model.IsLogin)
                                </label>
                            </div>
                            <div class="form-group form-check" id="IsActiveBlock">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsActive" type="checkbox" /> @Html.DisplayNameFor(model => model.IsActive)
                                </label>
                            </div>
                        </div>
                        <input type="hidden" name="Module" id="Module" value="@Model.Module" />
                        <div class="form-group m-3">
                            <input type="submit" value="Submit" id="btnSubmit" class="btn btn-theme" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/select2/select2.min.css" rel="stylesheet" />
<script src="~/select2/select2.min.js"></script>
<script>
    ////// Open Selection dropdown on focus                                     -- Yashasvi TBC (09-02-2023)
    $(document).on('focus', '.select2.select2-container', function (e) {
        if (e.originalEvent && $(this).find(".select2-selection--single").length > 0) {
            $(this).siblings('select').select2('open');
        }
    });
    $(function() {
      $('#Companies').select2();
    });
    $(function() {
      $('.select-box').select2();
    });
    $(function() {
      $('#RoleIds').select2();
    });
    $(document).ready(function () {
        $("#loader").hide();
    });
</script>
<script>
    jQuery('#createCompanyUserForm').on('submit', function () {
        if (jQuery(this).data('form_is_invalid')) {
            jQuery(this).data('form_is_invalid', false);
        } else {
            jQuery(this).find('#btnSubmit').prop('disabled', true);
        }
    }).on('invalid-form.validate', function () {
        jQuery(this).data('form_is_invalid', true);
    });
</script>
<script>
    function ValidAlphabet(data) {    
	    var code = (event.which) ? event.which : event.keyCode;    
	    if (!(code>= 48 && code <=57) || !(code >=96 && code <=105) || code == 54 || code == 189 || code == 219 || code==57) {
		    if (code != 32 && code != 190) {
			    var digits = $(data).val();
			    var lastValue = digits.substring(digits.length - 1);
			    digits = digits.replace(/[^(\+\s)[^0-9-]/g, '');
			    if (lastValue == "^" || lastValue == "-" || lastValue == "(" || lastValue == ")" || lastValue == "[") {
				    digits = digits.replace(lastValue, '');
			    }
			    $(data).val(digits);
		    }
	    }
    }
</script>
<script>
    $(function(){
        $.ajax({
            url: "@Url.Action("GetAccountNumber", "User")",
            method: "GET",
            success: function (response) {
                $("#accountNumber").val(response);
            }
        });
    });

    function GetDialingCodeOfCountry(value){
        $.ajax({
            url: "@Url.Action("GetDialingCodeOfCountry", "Company")",
            method: "GET",
            data:{'Country':value},
            success: function (response) {
                $("#PhoneNumber").val(response);
            }
        });
    };
</script>
<script>
    $(function(){
        $("#AccountNumberValidation").hide();
        $("#EmailValidation").hide();
    });
</script>
<script>
    function CheckExistanceOfAccountNumber(){
        event.preventDefault();

        var accountNumber = $("#accountNumber").val();
        $("#AccountNumberValidation").hide();
        $.ajax({
            url: "@Url.Action("CheckAccountNumberExistance", "User")",
            method: "GET",
            data:{"AccountNumber":accountNumber},
            success: function (response) {
                if(response == -1){
                    $("#AccountNumberValidation").show();
                    $("#AccountNumberValidation").text(accountNumber +" aleady exists.");
                }
            }
        });
    }
</script>

<script type="text/javascript">  
    $(document).ready(function () {  
        $('#show_password').hover(function show() {  
            $('#Password').attr('type', 'text');  
            $('.icon').removeClass('fas fa-eye-slash').addClass('fas fa-eye');  
        },  
        function () {  
            $('#Password').attr('type', 'password');  
            $('.icon').removeClass('fas fa-eye').addClass('fas fa-eye-slash');  
        });   
    });  
</script>  
<script>
    function CheckExistanceOfEmail(){
        event.preventDefault();
        var email = $("#EmailID").val();
        $("#EmailValidation").hide();
        $.ajax({
            url:"@Url.Action("CheckEmailExistance","User")",
            mehod:"GET",
            data:{"Email":email},
            success:function(response){
                if(response == -1){
                    $("#EmailValidation").show();
                    $("#EmailValidation").text(email +" already exists.");
                }
            }
        });
    }
</script>

