@model DIBN.Areas.Admin.Models.UploadUserDocuments
@{
    ViewData["Title"] = "UploadUserDocument";
}
<div id="loader">
    <div class="spinner-1">
        <div class="center-div-1">
            <div class="loader-circle-75">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (@Model.Role == "User")
        {
            <a href="@Url.Action("GetCompanyUsers","Company",new{Id=@Model.CompanyId,name=@Model.Module})" value="Back" class="btn btn-theme float-end mb-2" >Back To List</a>
        }
        else
        {
            <a href="@Url.Action("GetCompanyEmployees","Company",new{Id=@Model.CompanyId,name=@Model.Module})" value="Back" class="btn btn-theme float-end mb-2" >Back To List</a>
        }
        
    </div>
</div>
@if (Model.allowedModule.Contains("Insert"))
{
    <div class="row" id="Insert">
        <div class="col-md-12">
            <div class="card card-primary">
                <form action="@Url.Action("UploadUserDocuments","Company")" enctype="multipart/form-data" method="post" id="uploadUserDocumentForm">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        <input type="hidden" asp-for="CompanyId" id="CompanyId" />
                        <input type="hidden" asp-for="UserId" id="UserId" />
                        <input type="hidden" name="actionName" id="actionName" value="@Model.Role" />
                        <input type="hidden" asp-for="Module" id="Module" />
                        <div class="col-md-12">
                            <div class="form-group m-2">
                                <label>Document Type</label> <span class="text-danger">*</span>
                                @if (Model.IsActive)
                                {
                                    <select class="form-control form-select single-line" asp-for="SelectedDocumentType" id="SelectedDocumentType" name="SelectedDocumentType" onchange="DocumentData();">
                                        <option value="-1">Select Document Type</option>
                                        <option value="1">Passport</option>
                                        <option value="2">Photographs</option>
                                        <option value="3">Employment card</option>
                                        <option value="4">Employment contract</option>
                                        <option value="5">Residency Visa</option>
                                        <option value="6">Emirates ID</option>
                                        <option value="7">Insurance policy</option>
                                        <option value="8">Other</option>
                                    </select>
                                }
                                else
                                {
                                    <select class="form-control form-select single-line" asp-for="SelectedDocumentType" id="SelectedDocumentType" name="SelectedDocumentType" onchange="DocumentData();">
                                        <option value="-1">Select Document Type</option>
                                        <option value="1">Passport</option>
                                        <option value="2">Photographs</option>
                                        <option value="3">Employment card</option>
                                        <option value="4">Employment contract</option>
                                        <option value="5">Residency Visa</option>
                                        <option value="6">Emirates ID</option>
                                        <option value="7">Insurance policy</option>
                                        <option value="9">Immigration cancellation letter</option>
                                        <option value="10">⁠labour cancellation letter</option>
                                        <option value="8">Other</option>
                                    </select>
                                }

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6 float-start">
                                <div class="form-group m-2 me-3">
                                    <label class="control-label">Title</label> <span class="text-danger" id="hideTitle">*</span>
                                    <input name="Title" class="form-control m-2" type="text" id="Title" />
                                </div>
                            </div>
                            <div class="col-md-6 float-start">
                                <div class="form-group m-2 me-3">
                                    <label class="control-label">Description</label> <span class="text-danger" id="hideDescription">*</span>
                                    <input name="Description" class="form-control m-2" type="text" id="Description" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group m-2 me-3">
                                <label class="control-label">Upload File</label>
                                <input name="formFile" class="form-control m-2" type="file" id="formFile" required />
                            </div>
                            <div class="form-group m-2">
                                <input type="submit" value="Upload" id="btnUpdate" class="btn btn-theme" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@if (Model.allowedModule.Contains("View"))
{
    <div class="row" id="View">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Documents(s)</h4>
                    <div class="table-rep-plugin">
                        <div class="table-responsive mb-0" data-pattern="priority-columns">
                            <table id="datatable" class="table table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            File Name
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 0;
                                    }
                                    @foreach (var item in Model.userDocuments)
                                    {
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@item.FileName@item.Extension</td>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>
                                                <form asp-action="DownloadSelectedDocument" asp-controller="Company" class="float-start me-2 Details" method="get">
                                                    <input type="hidden" asp-for="@item.Id" name="Id" />
                                                    <input type="hidden" asp-for="@item.CompanyId" name="CompanyId" id="CompanyId" />
                                                    <input type="submit" value="Download" name="Download" class="btn btn-theme Details" />
                                                </form>
                                                @if (Model.allowedModule.Contains("Delete"))
                                                {
                                                    <span class="btn btn-theme float-start Delete" onclick="RemoveDocument(@item.Id);">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                                }
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Sweet Alerts-->
<script src="~/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" />
<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Select 2-->
<link href="~/select2/select2.min.css" rel="stylesheet" />
<script src="~/select2/select2.min.js"></script>
<script>
    jQuery('#uploadUserDocumentForm').on('submit', function () {
        if (jQuery(this).data('form_is_invalid')) {
            jQuery(this).data('form_is_invalid', false);
        } else {
            jQuery(this).find('#btnUpdate').prop('disabled', true);
        }
    }).on('invalid-form.validate', function () {
        jQuery(this).data('form_is_invalid', true);
    });
</script>
<script>
    $("#btnUpdate").on("click",function(){
        var selectedDocumentType = $("#SelectedDocumentType").val();
        if(selectedDocumentType=="-1"){
            alert("Please Select Document Type.");
            $("#SelectedDocumentType").focus();
            return false;
        }
    });

    $(document).ready(function () {
        $("#loader").hide();
    });
</script>

<script>
    function DocumentData(){
        var selectedDocumentValue = $("#SelectedDocumentType :selected").text();
        $("#Title").val(selectedDocumentValue);
        $("#Description").val(selectedDocumentValue);
    };
</script>

<script>
    ////// Open Selection dropdown on focus                                     -- Yashasvi TBC (09-02-2023)
    $(document).on('focus', '.select2.select2-container', function (e) {
        if (e.originalEvent && $(this).find(".select2-selection--single").length > 0) {
            $(this).siblings('select').select2('open');
        }
    });
   $(document).ready(function(){
       $("#hideTitle").hide();
       $("#hideDescription").hide();
   });
   $(function() {
      $('#SelectedDocumentType').select2();
    });
</script>
<script>
    var table = $('#datatable').DataTable({
        paging: true,
        ordering: true,
        searching: true,
        "aLengthMenu": [20,30,50],
    });

    $('#datatable tbody').on('click', 'td.dtr-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);
        var actionName = $("#actionName").val();
        var module = $("#Module").val();
        if(actionName=="User"){
            module = "OtherCompanyOwner";
        }
        else{
            module="OtherCompanyEmployee";
        }
    });
</script>
<script>
    $("#SelectedDocumentType").on('change',function(){
        var data = $("#SelectedDocumentType").val();
        if(data==8){
            $("#Title").attr("required","required");
            $("#Description").attr("required","required");
            $("#hideTitle").show();
            $("#hideDescription").show();
        }      
        else{
            $("#Title").removeAttr("required");
            $("#Description").removeAttr("required");
            $("#hideTitle").hide();
            $("#hideDescription").hide();
        }
    });
</script>
<script>
    function RemoveDocument(DocumentId){
        event.preventDefault();
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: 'ms-3 btn btn-success',
            cancelButton: 'btn btn-danger'
          },
          buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!',
          reverseButtons: true,
          showConfirmButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $("#loader").show();
                var url = "@Url.Action("RemoveDocument","User")";
                $.ajax({
                    url: url,
                    method: "GET",
                    data:{"DocumentId":DocumentId},
                    success: function (response) {
                        $("#loader").hide();
                        swalWithBootstrapButtons.fire({
                          title: 'Deleted.',
                          text: "Selected Document Deleted Successfully..!!",
                          icon: 'success'
                        }).then((result) => {
                            window.location.reload();
                        });
                    }
                });
            }
            else if (
                result.dismiss === Swal.DismissReason.cancel
              ) 
              {
                $("#loader").hide();
                swalWithBootstrapButtons.fire(
                  'Cancelled',
                  'Cancled by User..!! :)',
                  'error'
                )
              }
        });
    }
</script>
<script>
    $(function(){
        var actionName = $("#actionName").val();
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: 'ms-3 btn btn-success',
            cancelButton: 'btn btn-danger'
          },
          buttonsStyling: false
        })
        var message = '@ViewData["Message"]';
        if(message!=""){
            if(message.startsWith("Document")){
                swalWithBootstrapButtons.fire({
                    title: 'Success.',
                    text: message,
                    icon: 'success'
                }).then((result) => {
                    message = "";
                    var userId = $("#UserId").val();
                    var CompanyId = $("#CompanyId").val();
                    var Module = $("#Module").val();
                    var url = "@Url.Action("UploadUserDocument","Company")";
                    url = url + "?UserId=" + userId + "&CompanyId=" + CompanyId + "&name=" + Module + "&actionName="+actionName;
                    window.location.href=url;
                });
            }else if(message.startsWith("Sorry,")){
                swalWithBootstrapButtons.fire({
                    title: 'Failed.',
                    text: message,
                    icon: 'error'
                }).then((result) => {
                    message = "";
                    var userId = $("#UserId").val();
                    var CompanyId = $("#CompanyId").val();
                    var Module = $("#Module").val();
                    var url = "@Url.Action("UploadUserDocument","Company")";
                    url = url + "?UserId=" + userId + "&CompanyId=" + CompanyId + "&name=" + Module + "&actionName=" + actionName;
                    window.location.href=url;
                });
            }else if(message.startsWith("First Assign")){
                swalWithBootstrapButtons.fire({
                    title: 'Failed.',
                    text: message,
                    icon: 'error'
                }).then((result) => {
                    message = "";
                    var userId = $("#UserId").val();
                    var CompanyId = $("#CompanyId").val();
                    var Module = $("#Module").val();
                    var url = "@Url.Action("UploadUserDocument","Company")";
                    url = url + "?UserId=" + userId + "&CompanyId=" + CompanyId + "&name=" + Module + "&actionName=" + actionName;
                    window.location.href=url;
                });
            }
        }

    });
</script>
