@model DIBN.Areas.Admin.Models.MainCompanySubTypeModel
@{
    ViewData["Title"] = "Sub Type";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="loader">
    <div class="spinner-1">
        <div class="center-div-1">
            <div class="loader-circle-75">
            </div>
        </div>
    </div>
</div>
@if (Model.allowedModule.Contains("Insert"))
{
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-theme pull-right Insert" style="float:right;margin-bottom:15px;" onclick="AddNew();">Create</button>
        </div>
    </div>
}
@if (Model.allowedModule.Contains("View"))
{
    <div class="row" id="View">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Company Type(s)</h4>
                    <hr class="text-theme" style="height:1.5px;" />
                    <div class="table-rep-plugin">
                        <div class="table-responsive mb-0" data-pattern="priority-columns">
                            <table id="datatable" class="table table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Main Type
                                        </th>
                                        <th>
                                            Sub Type
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.companySubTypes)
                                    {
                                        <tr>
                                            <td>@item.Index</td>
                                            <td>@item.CompanyType</td>
                                            <td>@item.SubType</td>
                                            <td>
                                                @if (Model.allowedModule.Contains("Update"))
                                                {
                                                    <span class="btn btn-theme Update" onclick="Update(@item.Id)">
                                                        <i class="fas fa-edit"></i>
                                                    </span>
                                                }
                                                @if (Model.allowedModule.Contains("Delete"))
                                                {
                                                    <span class="btn btn-theme Delete" onclick="Remove(@item.Id)">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="CreateNewService" class="modal" role="dialog" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    @*tabindex="-1"*@
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create</h5>
                <button type="button" class="close btn btn-theme" id="CreateNewServiceModalClose" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<div id="EditService" class="modal" role="dialog" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    @*tabindex="-1"*@
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="close btn btn-theme" id="EditServiceModalClose" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<input asp-for="message" id="message" type="hidden" hidden="hidden"/>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Sweet Alerts-->
<script src="~/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" />
<script>
    var table = $('#datatable').DataTable({
        responsive: true,
        paging: true,
        ordering: true,
        searching: true,
        "aLengthMenu": [20, 30, 50],
        dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
    });

    $(document).ready(function () {
        $("#loader").hide();
        var message = $("#message").val();
        if (message != null && message != "" && message != "undefined") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'ms-3 btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            if(message.includes("Successfully")){
                swalWithBootstrapButtons.fire({
                    title: 'Success.',
                    text: message,
                    icon: 'success'
                }).then((result) => {
                    var url = "@Url.Action("Index", "CompanySubType")";
                    window.location.href = url;
                });
            }
            else{
                swalWithBootstrapButtons.fire({
                    title: 'Error.',
                    text: message,
                    icon: 'error'
                }).then((result) => {
                    var url = "@Url.Action("Index", "CompanySubType")";
                    window.location.href = url;
                });
            }
        }
    });

    $("#CreateNewServiceModalClose").on("click", function () {
        window.location.reload();
    });

    $("#EditServiceModalClose").on("click", function () {
        window.location.reload();
    });
</script>
<script>
    function AddNew() {
        $.ajax({
            url: "@Url.Action("Create", "CompanySubType")",
            method: "GET",
            success: function (response) {
                $mymodal = $("#CreateNewService");
                $mymodal.find("div.modal-body").html(response);
                $mymodal.modal("show");
            }
        });
    };

    function Update(Id) {
        $.ajax({
            url: "@Url.Action("Edit", "CompanySubType")",
            method: "GET",
            data: { "Id": Id },
            success: function (response) {
                $mymodal = $("#EditService");
                $mymodal.find("div.modal-body").html(response);
                $mymodal.modal("show");
            }
        });
    };

    function Remove(Id) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'ms-3 btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true,
            showConfirmButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $("#loader").show();
                $.ajax({
                    url: "@Url.Action("Delete", "CompanySubType")",
                    method: "GET",
                    data: { "Id": Id },
                    success: function (response) {
                        $("#loader").hide();
                        swalWithBootstrapButtons.fire({
                            title: 'Deleted.',
                            text: "Selected Company Type Deleted Successfully..!!",
                            icon: 'success'
                        }).then((result) => {
                            window.location.reload();
                        });
                    }
                });
            }
        });
    };
</script>