@model DIBN.Models.GetPaymentTransactionReceipt
@{
    ViewData["Title"] = "Payment Receipts";
}
<style>
    .datepicker {
        z-index: 99999 !important;
    }
</style>
<div id="loader">
    <div class="spinner-1">
        <div class="center-div-1">
            <div class="loader-circle-75">
            </div>
        </div>
    </div>
</div>

<input type="hidden" asp-for="@Model.Module" id="Module" />
<input type="hidden" asp-for="@Model.CompanyId" id="CompanyId" />
 
<div class="row" id="View">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Payment Receipt(s)</h4>
                <hr style="height:1px;" class="text-theme" />
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        Receipt No.
                                    </th>
                                    <th>
                                        On Account Of
                                    </th>
                                    <th>
                                        Through
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Created Date
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="EditReceipt" class="modal" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog">
    @*tabindex="-1"*@
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Payment Receipt</h5>
                <button type="button" class="close btn btn-theme" id="EditReceiptModalClose" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script src="~/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Sweet Alerts-->
<script src="~/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" />

<script>
    $("#EditReceiptModalClose").on("click", function () {
        window.location.reload();
    });
    $(document).ready(function () {
        $("#loader").hide();
    });
</script>
<script>
    $(document).ready(function () {
        var companyId = $("#CompanyId").val();
        var url = "@Url.Action("GetAllCompanyPaymentReceiptsByCompanyId","CompanyAccount")";
        url = url +"?companyId="+companyId;
        var table = $('#datatable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "ajax": {
                "type": "post",
                "datatype": "json",
                "data": function () {
                    var info = $('#datatable').DataTable().page.info();
                    $('#datatable').DataTable().ajax.url(
                        url
                    );
                }
            },
            "responsive": true,
            "deferRender": true,
            "language": {
                'processing': '<div class="spinner-2"><div class="center-div-2"><div class="loader-circle-1"></div></div></div>'
            },
            "columns": [
                { "data": "serialNumber", "name": "Receipt No." },
                { "data": "onAccount", "name": "On Account Of" },
                { "data": "through", "name": "Through" },
                { "data": "amount", "name": "Amount" },
                { "data": "createdOn", "name": "Created Date" },
                {
                    "data": function (data, full, meta) {
                        var paymentReceipts = "@Url.Action("DownloadPaymentReceipt","PortalBalance")";
                        return '<form action=' + paymentReceipts + ' method="get"><input type="hidden" value=' + data.id + ' name="ReceiptId" /><input type="submit" value="Download" name="Download Receipt" class="btn btn-theme" /></form>';
                    },
                    "name": ""
                },
            ],
            "initComplete": function (settings, json) {
                $(".Update").hide();
                $(".Delete").hide();
                $(".Details").hide();
                var module = $("#Module").val();
                $.ajax({
                    url: "@Url.Action("GetRolePermissionsName", "UserPermission")",
                    method: "GET",
                    data: { "Module": "PaymentReceipt" },
                    success: function (RoleResponse) {
                        $.ajax({
                            url: "@Url.Action("GetUserPermissionsName", "UserPermission")",
                            method: "GET",
                            data: { "Module": "PaymentReceipt" },
                            success: function (UserResponse) {
                                if (UserResponse.length > 0) {
                                    for (let i = 0; i < UserResponse.length; i++) {
                                        $("#" + UserResponse[i]).show();
                                        if (UserResponse[i] == "View") {
                                            $(".Details").show();
                                        }
                                        if (UserResponse[i] == "Update") {
                                            $("." + UserResponse[i]).show();
                                        }
                                        if (UserResponse[i] == "Delete") {
                                            $(".Delete").show();
                                        }
                                    }
                                    $($.fn.dataTable.tables(true)).DataTable()
                                        .columns.adjust();
                                    $("#loader").hide();
                                }
                                else if (RoleResponse.length > 0) {
                                    for (let i = 0; i < RoleResponse.length; i++) {
                                        $("#" + RoleResponse[i]).show();
                                        if (RoleResponse[i] == "View") {
                                            $(".Details").show();
                                        }
                                        if (RoleResponse[i] == "Update") {
                                            $("." + RoleResponse[i]).show();
                                        }
                                        if (RoleResponse[i] == "Delete") {
                                            $(".Delete").show();
                                        }
                                    }
                                    $($.fn.dataTable.tables(true)).DataTable()
                                        .columns.adjust();
                                    $("#loader").hide();
                                }
                            }
                        })
                    }
                });
                $("#loader").hide();
            },
            "drawCallback": function (settings, json) {
                $(".Update").hide();
                $(".Delete").hide();
                $(".Details").hide();
                var module = $("#Module").val();
                $.ajax({
                    url: "@Url.Action("GetRolePermissionsName", "UserPermission")",
                    method: "GET",
                    data: { "Module": "PaymentReceipt" },
                    success: function (RoleResponse) {
                        $.ajax({
                            url: "@Url.Action("GetUserPermissionsName", "UserPermission")",
                            method: "GET",
                            data: { "Module": "PaymentReceipt" },
                            success: function (UserResponse) {
                                if (UserResponse.length > 0) {
                                    for (let i = 0; i < UserResponse.length; i++) {
                                        $("#" + UserResponse[i]).show();
                                        if (UserResponse[i] == "View") {
                                            $(".Details").show();
                                        }
                                        if (UserResponse[i] == "Update") {
                                            $("." + UserResponse[i]).show();
                                        }
                                        if (UserResponse[i] == "Delete") {
                                            $(".Delete").show();
                                        }
                                    }
                                    $($.fn.dataTable.tables(true)).DataTable()
                                        .columns.adjust();
                                    $("#loader").hide();
                                }
                                else if (RoleResponse.length > 0) {
                                    for (let i = 0; i < RoleResponse.length; i++) {
                                        $("#" + RoleResponse[i]).show();
                                        if (RoleResponse[i] == "View") {
                                            $(".Details").show();
                                        }
                                        if (RoleResponse[i] == "Update") {
                                            $("." + RoleResponse[i]).show();
                                        }
                                        if (RoleResponse[i] == "Delete") {
                                            $(".Delete").show();
                                        }
                                    }
                                    $($.fn.dataTable.tables(true)).DataTable()
                                        .columns.adjust();
                                    $("#loader").hide();
                                }
                            }
                        })
                    }
                });
                $("#loader").hide();
            },
            paging: true,
            ordering: true,
            searching: true,
            "aLengthMenu": [20,30,50],
            dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        });

        $('#datatable tbody').on('click', 'td.dtr-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (!tr.hasClass("shown")) {
                row.child.show();
                tr.addClass('shown');
                $(".Update").hide();
                $(".Delete").hide();
                $(".Details").hide();
                var module = $("#Module").val();
                $.ajax({
                    url: "@Url.Action("GetRolePermissionsName", "UserPermission")",
                    method: "GET",
                    data: { "Module": "PaymentReceipt" },
                    success: function (RoleResponse) {
                        $.ajax({
                            url: "@Url.Action("GetUserPermissionsName", "UserPermission")",
                            method: "GET",
                            data: { "Module": "PaymentReceipt" },
                            success: function (UserResponse) {
                                if (UserResponse.length > 0) {
                                    for (let i = 0; i < UserResponse.length; i++) {
                                        $("#" + UserResponse[i]).show();
                                        if (UserResponse[i] == "View") {
                                            $(".Details").show();
                                        }
                                        if (UserResponse[i] == "Update") {
                                            $("." + UserResponse[i]).show();
                                        }
                                        if (UserResponse[i] == "Delete") {
                                            $(".Delete").show();
                                        }
                                    }
                                    $("#loader").hide();
                                }
                                else if (RoleResponse.length > 0) {
                                    for (let i = 0; i < RoleResponse.length; i++) {
                                        $("#" + RoleResponse[i]).show();
                                        if (RoleResponse[i] == "View") {
                                            $(".Details").show();
                                        }
                                        if (RoleResponse[i] == "Update") {
                                            $("." + RoleResponse[i]).show();
                                        }
                                        if (RoleResponse[i] == "Delete") {
                                            $(".Delete").show();
                                        }
                                    }
                                    $("#loader").hide();
                                }
                            }
                        })
                    }
                });
                $("#loader").hide();
            }
            else {
                row.child.hide();
                tr.removeClass('shown');
            }
        });
    });
</script>
<script>
    function DownloadReceipt(Id) {
        var url = "@Url.Action("DownloadPaymentReceipt","CompanyAccount")";
        url = url + "?Id=" + Id;
        window.open(url, "NewWindow");
    };
</script>
<script>
    $(function () {
        $("#Insert").hide();
        $("#View").hide();
        $(".Update").hide();
        $(".Delete").hide();
        $(".Details").hide();
    });
</script>
<script>
    $(function () {
        $("#loader").show();
        var module = $("#Module").val();
        $.ajax({
            url: "@Url.Action("GetRolePermissionsName", "UserPermission")",
            method: "GET",
            data: { "Module": module },
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (RoleResponse) {
                $("#loader").show();
                $.ajax({
                    url: "@Url.Action("GetUserPermissionsName", "UserPermission")",
                    method: "GET",
                    data: { "Module": module },
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (UserResponse) {
                        $("#loader").show();
                        if (UserResponse.length > 0) {
                            for (let i = 0; i < UserResponse.length; i++) {
                                if (UserResponse[i] == "PermissionCount") {
                                    alert("You don't have any permission for this module.");
                                    var url = "@Url.Action("Index","Home")";
                                    url = url + "?name=HomePage";
                                    window.location.href = url;
                                } else {
                                    $("#" + UserResponse[i]).show();
                                    if (UserResponse[i] == "View") {
                                        $(".Details").show();
                                        $("#View1").show();
                                    }
                                    if (UserResponse[i] == "Update") {
                                        $("." + UserResponse[i]).show();
                                    }
                                    if (UserResponse[i] == "Delete") {
                                        $("." + UserResponse[i]).show();
                                    }
                                }

                            }
                            $("#loader").hide();
                        }
                        else if (RoleResponse.length > 0) {
                            for (let i = 0; i < RoleResponse.length; i++) {
                                if (RoleResponse[i] == "PermissionCount") {
                                    alert("You don't have any permission for this module.");
                                    var url = "@Url.Action("Index","Home")";
                                    url = url + "?name=HomePage";
                                    window.location.href = url;
                                }
                                else {
                                    $("#" + RoleResponse[i]).show();
                                    if (RoleResponse[i] == "View") {
                                        $(".Details").show();
                                        $("#View1").show();
                                    }
                                    if (RoleResponse[i] == "Update") {
                                        $("." + RoleResponse[i]).show();
                                    }
                                    if (RoleResponse[i] == "Delete") {
                                        $("." + RoleResponse[i]).show();
                                    }
                                }

                            }
                            $("#loader").hide();

                        } else {
                            alert("You don't have any permission for this module.");
                            $("#loader").hide();
                        }
                    }
                })
            }
        });
        $("#loader").hide();
    });
</script>
<script>
    $(window).resize(function () {
        var allRows = $('#datatable tbody tr');
        allRows.each(function () {
            var tr = $(this).closest('tr');
            var row = $($.fn.dataTable.tables(true)).DataTable().row(tr);
            if (tr.hasClass("shown")) {
                row.child.hide();
                tr.removeClass('shown');
                tr.removeClass('parent');
            }
        });
    });
</script>