@model IEnumerable<DIBN.Models.ShareholderViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loader">
    <div class="spinner-1">
        <div class="center-div-1">
            <div class="loader-circle-75">
            </div>
        </div>
    </div>
</div>
<div class="row" id="View1">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("ExportShareholdersToPdf","UserShareholder",new{Id=item.CompanyId})" class="btn btn-theme mb-3 float-end ms-3">Export(Pdf)</a>
            break;
        }

    </div>
</div>

<div class="row" id="View">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Active Shareholder/Director(s)</h4>
                <hr style="height:1px;" class="text-theme" />
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Name.
                                    </th>
                                    <th>
                                        Share(%)
                                    </th>
                                    <th>
                                        Passport No.
                                    </th>
                                    <th>
                                        Passport Expiry Date
                                    </th>
                                    <th>
                                        Nationality
                                    </th>
                                    <th>
                                        Designation
                                    </th>
                                    <th>
                                        Visa Expiry Date
                                    </th>
                                    <th>
                                        Insurance Company
                                    </th>
                                    <th>
                                        Insurance Expiry Date
                                    </th>

                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var i = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    @if (item.IsActive == true && item.FirstName != null)
                                    {
                                        <tr>
                                            <td>
                                                @(i + 1)
                                            </td>
                                            <td>
                                                @item.FirstName @Html.Raw(" ") @item.LastName
                                            </td>
                                            <td>
                                                @item.Share @Html.Raw("%")
                                            </td>
                                            <td>
                                                @item.PassportNumber
                                            </td>
                                            <td>
                                                @item.PassportExpiryDate
                                            </td>
                                            <td>
                                                @item.Nationality
                                            </td>
                                            <td>
                                                @item.Designation
                                            </td>
                                            <td>
                                                @item.VisaExpiryDate
                                            </td>
                                            <td>
                                                @item.InsuranceCompany
                                            </td>
                                            <td>
                                                @item.InsuranceExpiryDate
                                            </td>
                                            <td>
                                                <button class="btn btn-theme" onclick="ViewDocuments(@item.ID)">
                                                    Documents
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">InActive Shareholder/Director(s)</h4>
                <hr style="height:1px;" class="text-theme" />
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <table id="datatable-1" class="table table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Name.
                                    </th>
                                    <th>
                                        Share(%)
                                    </th>
                                    <th>
                                        Passport No.
                                    </th>
                                    <th>
                                        Passport Expiry Date
                                    </th>
                                    <th>
                                        Nationality
                                    </th>
                                    <th>
                                        Designation
                                    </th>
                                    <th>
                                        Visa Expiry Date
                                    </th>
                                    <th>
                                        Insurance Company
                                    </th>
                                    <th>
                                        Insurance Expiry Date
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var j = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    @if (item.IsActive == false && item.FirstName != null)
                                    {
                                        <tr>
                                            <td>
                                                @(j + 1)
                                            </td>
                                            <td>
                                                @item.FirstName @Html.Raw(" ") @item.LastName
                                            </td>
                                            <td>
                                                @item.Share @Html.Raw("%")
                                            </td>
                                            <td>
                                                @item.PassportNumber
                                            </td>
                                            <td>
                                                @item.PassportExpiryDate
                                            </td>
                                            <td>
                                                @item.Nationality
                                            </td>
                                            <td>
                                                @item.Designation
                                            </td>
                                            <td>
                                                @item.VisaExpiryDate
                                            </td>
                                            <td>
                                                @item.InsuranceCompany
                                            </td>
                                            <td>
                                                @item.InsuranceExpiryDate
                                            </td>
                                            <td>
                                                <button class="btn btn-theme" onclick="ViewDocuments(@item.ID)">
                                                    Documents
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                    j++;
                                }
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@foreach (var item in Model)
{
    <input type="hidden" name="Module" id="Module" value="@item.Module" />
    break;
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Sweet Alerts-->
<script src="~/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" />

<script>
    $('#datatable').dataTable({
        paging: true,
        ordering: true,
        searching: true,
        "aLengthMenu": [20, 30, 50],
        dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
    });
    $('#datatable-1').dataTable({
        paging: true,
        ordering: true,
        searching: true,
        "aLengthMenu": [20, 30, 50],
        dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
    });
    $(document).ready(function () {
        $("#loader").hide();
    });
</script>
<script>
    function ViewDocuments(Id) {
        var name = $("#Module").val();
        var url = "@Url.Action("GetUploadDocuments","UserShareholder")";
        window.location.href = url + "?name=" + name + "&Id=" + Id;
    }
</script>
<script>
    $(function () {
        $("#Insert").hide();
        $("#View").hide();
        $("#View1").hide();
        $(".Update").hide();
        $(".Delete").hide();
        $(".Details").hide();
    });
</script>
<script>
    $(function () {
        $("#loader").show();
        var module = $("#Module").val();
        $.ajax({
            url: "@Url.Action("GetRolePermissionsName", "UserPermission")",
            method: "GET",
            data: { "Module": module },
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (RoleResponse) {

                $.ajax({
                    url: "@Url.Action("GetUserPermissionsName", "UserPermission")",
                    method: "GET",
                    data: { "Module": module },
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (UserResponse) {

                        if (UserResponse.length > 0) {
                            for (let i = 0; i < UserResponse.length; i++) {
                                if (UserResponse[i] == "PermissionCount") {
                                    alert("You don't have any permission for this module.");
                                    var url = "@Url.Action("Index","Home")";
                                    url = url + "?name=HomePage";
                                    window.location.href = url;
                                } else {
                                    $("#" + UserResponse[i]).show();
                                    if (UserResponse[i] == "View") {
                                        $(".Details").show();
                                        $("#View1").show();
                                    }
                                    if (UserResponse[i] == "Update") {
                                        $("." + UserResponse[i]).show();
                                    }
                                    if (UserResponse[i] == "Delete") {
                                        $("." + UserResponse[i]).show();
                                    }
                                }

                            }
                            $("#loader").hide();
                        }
                        else if (RoleResponse.length > 0) {
                            for (let i = 0; i < RoleResponse.length; i++) {
                                if (RoleResponse[i] == "PermissionCount") {
                                    alert("You don't have any permission for this module.");
                                    var url = "@Url.Action("Index","Home")";
                                    url = url + "?name=HomePage";
                                    window.location.href = url;
                                }
                                else {
                                    $("#" + RoleResponse[i]).show();
                                    if (RoleResponse[i] == "View") {
                                        $(".Details").show();
                                        $("#View1").show();
                                    }
                                    if (RoleResponse[i] == "Update") {
                                        $("." + RoleResponse[i]).show();
                                    }
                                    if (RoleResponse[i] == "Delete") {
                                        $("." + RoleResponse[i]).show();
                                    }
                                }

                            }
                            $("#loader").hide();
                        } else {
                            alert("You don't have any permission for this module.");
                            $("#loader").hide();
                        }
                    }
                })
            }
        });
    });
</script>